.article {
	margin-bottom: 4rem;

	&__header {
		margin-bottom: 2rem;
	}

	&__title {

		&_prime {
			font-weight: 700;
			font-size: 2.4rem;
			line-height: 3rem;
			font-family: $font-family-head;
		}

		&_second {
			font-weight: 400;
			font-size: 1.8rem;
			line-height: 2.4rem;
		}
	}

	&__date {
		color: #1C1C1C;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2.4rem;
		font-family: $font-family-head;
	}

	&__image {
		margin-bottom: 2rem;

		a {
			display: block;
			overflow: hidden;

			img {
				@include transition(.3s);
			}

			&:hover {

				img {
					@include scale(1.3);
					@include transition(.3s);
				}
			}
		}
	}

	&__intro {
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 2.6rem;
		margin-bottom: 2rem;
	}

	&__footer {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include justify-content(space-between);

		> li {

			&:first-child {

			}

			&:last-child {
				text-align: right;
			}
		}
	}

	&_view {
		color: #696565;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2.4rem;
		font-family: $font-family-head;
	}

	&__nav {
		color: #fff;
		padding: 2.4rem 2.5rem;
		background: #1C1C1C;

		.h3 {
			font-weight: 700;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			font-weight: 400;
			font-size: 1.6rem;
			line-height: 2.4rem;

			li {
				padding: 0.3rem;

				a {
					color: #fff;
					width: 100%;
					position: relative;
					display: inline-block;
					text-decoration: none;
					padding-right: 30px;

					&:before {
						top: 0;
						right: 0;
						content: '>';
						position: absolute;
						display: inline-block;
					}

					&:hover {
						color: $color-yellow;
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__header {
			@include flexbox();
			@include justify-content(space-between);
		}
	}

	@media (min-width: $screen-xl-min) {

		&__nav {

			ul {
				font-size: 1.8rem;
			}
		}
	}

}

.side_box {
	margin-bottom: 2rem;

	.side_box_title {
		color: #fff;
		padding: 2.2rem 2.5rem;
		background: #1C1C1C;

		.h3 {
			font-weight: 700;
			margin-bottom: 0;
		}
	}
}

.side_product {
	color: #000;
	height: 120px;
	position: relative;
	padding: 25px 25px 0 25px;

	&.side_product_one {
		margin-bottom: 2rem;
		background: url("../img/side_product_one.jpg") 50% 50% no-repeat;
		background-size: cover;
	}

	&.side_product_two {
		background: url("../img/side_product_two.jpg") 50% 50% no-repeat;
		background-size: cover;
	}

	.side_product_title {
		font-weight: 600;
		font-size: 2.1rem;
		line-height:2.6rem;
		display: inline-block;
		letter-spacing: 0.1px;
	}

	.btn {
		left: 25px;
		bottom: 10px;
		position: absolute;
	}

	@media (min-width: $screen-lg-min) {

		.side_product_title {
			border-bottom: 5px solid $color-red;
		}

		.btn {
			left: auto;
			right: 10px;
		}
	}
}

.news {
	padding-top: 20px;
	padding-bottom: 30px;

	&__heading {
		display: none;
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 3.4rem;
		margin-bottom: 3.5rem;
		font-family: $font-family-head;
	}

	&__wrap {
		padding: 0 1.5rem;
		position: relative;
	}

	&__slider {

	}

	&__item {
		margin: 0 auto;
		max-width: 340px;

		&_image {
			display: block;
			overflow: hidden;
			margin-bottom: 1.5rem;

			img {
				@include transition(.3s);
			}

			&:hover {

				img {
					@include scale(1.3);
					@include transition(.3s);
				}
			}
		}

		&_title {
			color: #000;
			font-weight: 700;
			font-size: 2.1rem;
			line-height: 3rem;
			height: 6rem;
			overflow: hidden;
			margin-bottom: 1rem;
			font-family: $font-family-head;
		}

		&_text {
			font-weight: 300;
			font-size: 1.6rem;
			line-height: 2.6rem;
			margin-bottom: 2rem;
		}

		&_meta {
			color: #000;
			opacity: 0.5;
			font-weight: 300;
			font-size: 1.2rem;
			line-height: 1.6rem;
			@include flexbox();
			@include justify-content(space-between);
		}

		&_view {
			display: inline-block;

			i {
				margin-right: 0.5rem;
			}
		}

		&_date {
			display: inline-block;
		}
	}


	.swiper-button-next,
	.swiper-button-prev {
		width: auto;
		color: #000;
		height: 3rem;
		opacity: 0.5;
		outline: none;
		top: 100px;
		padding: 0.3rem 0;
		font-size: 1.6rem;
		line-height: 1.6rem;
		margin-top: 0;
		background: transparent;
	}

	.swiper-button-next {
		right: -3px;
	}

	.swiper-button-prev {
		left: -3px;
	}


	@media (min-width: $screen-md-min) {
		padding-bottom: 30px;

		&__heading {
			display: block;
		}

		&__wrap {
			padding: 0;
		}

		.swiper-button-next,
		.swiper-button-prev {
			display: none;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}


@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}