.cart {
	padding-bottom: 2rem;


	&__head {
		margin: 0;
		padding: 0;
		display: none;
		list-style: none;

		> li {
			color: #000;
			padding: 0.5rem;
			font-weight: 300;
			font-size: 1.6rem;
			line-height: 2rem;
			text-align: center;

			&:nth-child(1) {

			}

			&:nth-child(2) {

			}

			&:nth-child(3) {

			}

			&:nth-child(4) {

			}

			&:nth-child(5) {

			}
		}
	}

	&__row {
		margin: 0 0 3rem 0;
		padding: 5px 0 0 120px;
		list-style: none;
		position: relative;
		min-height: 100px;
		@include clearfix();

		> li {
			color: #000;
			font-size: 1.4rem;
			line-height: 1.8rem;

			&:nth-child(1) {
				top: 0;
				left: 0;
				width: 100px;
				height: 100px;
				position: absolute;
			}

			&:nth-child(2) {
				float: left;
				width: 100%;
				height: 5.4rem;
				overflow: hidden;
				padding-right: 30px;
				margin-bottom: 1rem;
			}

			&:nth-child(3) {
				display: none;
			}

			&:nth-child(4) {
				float: left;
			}

			&:nth-child(5) {
				float: right;
			}

			&:nth-child(6) {
				top: 5px;
				right: 0;
				position: absolute;
			}
		}
	}

	.cart_image {

		a {
			display: block;
		}
	}

	.cart_name {
		font-weight: 700;
		font-family: $font-family-head;

		a {
			color: #000;
			text-decoration: none;
		}
	}

	.cart_intro {
		color: #000;
		display: none;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 2.3rem;
		margin-bottom: 1rem;
	}

	.cart_price {
		font-weight: 700;
		white-space: nowrap;
		font-family: $font-family-head;
	}

	.cart_remove {
		color: #fff;
		width: 2rem;
		font-weight: 400;
		height: 1.8rem;
		cursor: pointer;
		padding: 0.1rem 0 0.3rem 0;
		font-size: 1.4rem;
		text-align: center;
		line-height: 1.6rem;
		display: inline-block;
		background: $color-red;
		font-family: $font-family-head;
		@include border-radius(3px);
	}

	&__summary {
		color: #000;
		font-weight: 700;
		text-align: right;
		font-size: 1.6rem;
		line-height: 2.3rem;
		padding-top: 2.5rem;
		text-transform: uppercase;
		border-top: 1px solid #C4C4C4;
	}


	@media (min-width: $screen-lg-min) {

		&__head {
			padding-right: 40px;
			@include flexbox();
			@include justify-content(space-between);

			> li {
				text-align: center;

				&:nth-child(1) {
					@include flex-grow(1);
				}

				&:nth-child(2) {
					width: 120px;
					min-width: 120px;
				}

				&:nth-child(3) {
					width: 110px;
					min-width: 110px;
				}

				&:nth-child(4) {
					width: 120px;
					min-width: 120px;
				}
			}
		}

		&__row {
			padding-left: 0;
			margin-bottom: 1rem;
			@include flexbox();
			@include justify-content(space-between);

			> li {
				padding: 1.5rem 1.5rem 0 1.5rem;

				&:nth-child(1) {
					top: auto;
					left: auto;
					padding: 0;
					width: 100px;
					height: auto;
					min-width: 100px;
					position: relative;
				}

				&:nth-child(2) {
					height: auto;
					margin-bottom: 0;
					@include flex-grow(1);
				}

				&:nth-child(3) {
					float: none;
					display: block;
					width: 120px;
					min-width: 120px;
					text-align: center;
				}

				&:nth-child(4) {
					float: none;
					width: 110px;
					min-width: 110px;
					text-align: center;
				}

				&:nth-child(5) {
					float: none;
					width: 120px;
					min-width: 120px;
					text-align: center;
				}

				&:nth-child(6) {
					top: auto;
					right: auto;
					padding-right: 0.5rem;
					position: relative;
				}
			}
		}

		.cart_name {
			height: auto;
		}

		.cart_intro {
			display: block;
		}
	}


	@media (min-width: $screen-xl-min) {


		&__head {
			padding-right: 50px;

			> li {
				text-align: center;

				&:nth-child(1) {
				}

				&:nth-child(2) {
					width: 150px;
					min-width: 150px;
				}

				&:nth-child(3) {
					width: 130px;
					min-width: 130px;
				}

				&:nth-child(4) {
					width: 150px;
					min-width: 150px;
				}
			}
		}

		&__row {

			> li {
				padding: 1.5rem 2.5rem 0 2.5rem;

				&:nth-child(1) {
					padding: 0;
					width: 160px;
					min-width: 160px;
				}

				&:nth-child(2) {
					width: auto;
					min-width: auto;
				}

				&:nth-child(3) {
					width: 150px;
					min-width: 150px;
				}

				&:nth-child(4) {
					width: 130px;
					min-width: 130px;
				}

				&:nth-child(5) {
					width: 150px;
					min-width: 150px;
				}

				&:nth-child(6) {
					padding-top: 1.8rem;
				}
			}
		}

		.cart_name {
			font-size: 1.8rem;
			line-height: 2.6rem;
		}

		.cart_price {
			font-size: 1.6rem;
			line-height: 2.4rem;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.summary {
	color: #fff;
	max-width: 360px;
	background: #1C1C1C;
	padding: 2rem 2.5rem;
	border: 3px solid $color-red;
	@include border-radius(20px);

	.summary_title {
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2.6rem;
		margin-bottom: 1rem;
	}

	.summary_value {
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 3.6rem;
		margin-bottom: 2.5rem;
	}

	.summary_info {
		margin: 0;
		list-style: none;
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 2rem;
		padding: 3rem 0 0 0;

		> li {
			padding: 1rem 0;

			> a {
				color: #fff;
				text-decoration: none;

				&:hover {
					color: $color-yellow;
				}
			}
		}
	}

	.btn {
		width: 100%;
	}
}


.cart_divider {
	margin-bottom: 5rem;

	@media (min-width: $screen-lg-min) {
		margin-bottom: 8rem;
	}
}

.checkout {
	max-width: 780px;
	margin: 0 auto;

	.checkout_title {
		color: #1C1C1C;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 2.2rem;
		margin-bottom: 1.5rem;
	}

	.checkout_text {
		color: #1C1C1C;
		font-weight: 600;
		font-size: 1.6rem;
		text-align: center;
		line-height: 2.2rem;
		margin-bottom: 3rem;
	}

	.checkout_privacy {
		color: #1C1C1C;
		padding-top: 1rem;
		font-size: 1.2rem;
		text-align: center;
		line-height: 1.6rem;
		max-width: 280px;
		margin: 0 auto;
	}

	.form_group {
		margin-bottom: 2rem;
	}

	textarea.form_control_base {
		height: 140px;
	}

	@media (min-width: $screen-md-min) {

		.form_group {
			margin-bottom: 4rem;
		}

		.checkout_text {
			margin-top: -1rem;
		}

		.checkout_row {
			@include flexbox();
			@include justify-content(space-between);
		}

		.checkout_col {
			width: calc(50% - 3.5rem);
		}
	}
}


.order {
	padding-top: 3rem;

	h1,
	.h1 {
		margin-bottom: 1rem;
	}

	.subtitle {
		color: #000;
		margin-bottom: 7rem;
		font-size: 1.6rem;
		line-height: 2.4rem;
		text-align: center;
	}

	.order_info {
		margin-bottom: 5rem;

		ul {
			margin: 0;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 5rem;
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 10rem;
	}
}

.btn_group {
	padding: 0;
	margin: 0 -1rem;
	list-style: none;
	@include flexbox();
	@include justify-content(center);

	> li {
		padding: 0 1rem;
		margin-bottom: 2rem;
	}
}