.page {
	overflow-x: hidden;
}

.main {

	h3,
	.h3 {
		font-weight: 400;
		font-family: $font-family-base;
	}
}

blockquote {
	font-size: 1.6rem;
	line-height: 2.4rem;
	margin: 0 0 2rem 0;
	background: #E7E7E7;
	border-left: 5px solid #212121;
	padding: 1.4rem 3rem 1.4rem 1rem;

	p {
		padding-top: 0.3rem;
		margin-bottom: 0;
		text-indent: 3.5rem;
		position: relative;

		&:before {
			top: 0;
			left: 0;
			content: '';
			width: 2.4rem;
			height: 2.2rem;
			display: inline-block;
			position: absolute;
			background: url("../img/quote.png") 0 0 no-repeat;
		}
	}

}

.main_page {
	z-index: 20;
	padding-top: 10px;
	position: relative;
	padding-bottom: 40px;

	&.tuning_bg {
		background: url("../img/tune_bg.jpg") 50% -120px no-repeat;
	}

	&.maintenance_bg {
		background: url("../img/maintenance_bg.png") 50% -120px no-repeat;
	}

	&__divider {
		margin-bottom: 4rem;
	}

	&.page_404 {
		background: transparent;
	}

	@media (min-width: $screen-md-min) {

		&.page_404 {
			padding: 0 !important;
			position: relative;
			margin-bottom: 4.7rem;
			background: url("../img/404.jpg") 50% 50% no-repeat;
			background-size: cover;

			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
				content: '';
				display: block;
				position: absolute;
				background: rgba(0,0,0, 0.5);
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.breadcrumb {
			margin-bottom: 6rem;
		}

		&__divider {
			margin-bottom: 7rem;
		}
	}

	@media (min-width: $screen-xl-min) {

		.breadcrumb {
			margin-bottom: 8rem;
		}
	}
}

.page_production {
	overflow: hidden;
	position: relative;

	.container {
		z-index: 10;
		position: relative;
	}

	.disk_bg {
		top:  40px;
		left: 50%;
		z-index: 5;
		width: 536px;
		margin-left: -268px;
		position: absolute;

		&.bg_01{

			svg {
				fill:#efefef;
			}
		}
		&.bg_02{

			svg {
				fill:#cfcece;
			}
		}
		&.bg_03{
			svg {
				fill:#d3d3d3;
			}
		}
		&.bg_04{
			svg {
				fill:#cfcece;
			}
		}
	}

	.carbon_bg {
		top:  40px;
		left: 50%;
		z-index: 5;
		width: 536px;
		margin-left: -268px;
		position: absolute;

		&.bg_01{

			svg {
				fill:#efefef;
			}
		}
		&.bg_02{

			svg {
				fill:#cfcece;
			}
		}
		&.bg_03{
			svg {
				fill:#efefef;
			}
		}
		&.bg_04{
			svg {
				fill:#efefef;
			}
		}

		&.bg_05{

			svg {
				fill:#d3d3d3;
			}
		}

		&.bg_06 {
			svg {
				fill:#efefef;
			}
		}
	}

	.production_bg {
		top:  50%;
		left: 50%;
		z-index: 5;
		width: 536px;
		margin-top: -268px;
		margin-left: -268px;
		position: absolute;

		&.bg_01 {

			svg {
				fill:#cecdce;
			}
		}

		&.bg_02 {

			svg {
				fill:#eeeeef;
			}
		}

		&.bg_03 {

			svg {
				fill:#cecdce;
			}
		}

		&.bg_04 {

			svg {
				fill:#eeeeef;
			}
		}

		&.bg_05 {

			svg {
				fill:#cecdce;
			}
		}

		&.bg_06 {

			svg {
				fill:#cecdce;
			}
		}
	}

	.service_bg {
		top:  50%;
		left: 50%;
		z-index: 5;
		width: 536px;
		margin-top: -268px;
		margin-left: -268px;
		position: absolute;
		@include animation-name(cog_reverse);

		&.bg_01 {
			@include animation-duration(8s);

			svg {
				fill:#f2f2f2;
			}
		}

		&.bg_02 {
			@include animation-duration(12s);

			svg {
				fill:#bfbebe;
			}
		}

		&.bg_03 {
			@include animation-duration(12s);

			svg {
				fill:#ddd;
			}
		}

		&.bg_04 {
			@include animation-duration(10s);

			svg {
				fill:#f2f2f2;
			}
		}

		&.bg_05 {
			@include animation-duration(10s);

			svg {
				fill:#bfbebe;
			}
		}

		&.bg_06 {
			@include animation-duration(10s);

			svg {
				fill:#ddd;
			}
		}

		&.bg_07 {
			@include animation-duration(12s);

			svg {
				fill:#cecdce;
			}
		}
	}

	.chip_bg {
		top:  -30px;
		left: 50%;
		z-index: 5;
		width: 536px;
		margin-left: -150px;
		position: absolute;
		@include animation-duration(12s);
		@include animation-name(cog_reverse);
	}

	@media (min-width: $screen-md-min) {

		.disk_bg {
			top:  -40px;
			width: 900px;
			margin-left: -450px;
		}

		.carbon_bg {
			top:  -40px;
			width: 900px;
			margin-left: -450px;
		}

		.production_bg {
			width: 900px;
			margin-top: -490px;
			margin-left: -450px;
		}

		.service_bg {
			width: 1200px;
			margin-top: -600px;
			margin-left: -300px;
		}

		.chip_bg {
			top: -450px;
			width: 1200px;
			margin-left: -400px;
		}

	}

	@media (min-width: $screen-lg-min) {

		.disk_bg {
			top:  -400px;
			width: 1400px;
			margin-left: -400px;
		}

		.carbon_bg {
			top:  -440px;
			width: 1400px;
			margin-left: -345px;
		}

		.production_bg {
			width: 1500px;
			margin-top: -750px;
			margin-left: -750px;
		}

		.service_bg {
			width: 1500px;
			margin-top: -820px;
			margin-left: -500px;
		}

		.chip_bg {
			top: -530px;
			width: 1500px;
			margin-left: -500px;
		}
	}

	@media (min-width: $screen-xl-min) {

		.chip_bg {
			top: -750px;
			width: 2000px;
			margin-left: -650px;
		}
	}
}


.rot1 {
	-webkit-animation-name: cog;
	-webkit-animation-duration: 12s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: cog;
	-moz-animation-duration: 12s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: cog;
	-ms-animation-duration: 12s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;

	animation-name: cog;
	animation-duration: 12s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.rot2 {
	-webkit-animation-name: cog_reverse;
	-webkit-animation-duration: 12s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: cog_reverse;
	-moz-animation-duration: 12s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-name: cog_reverse;
	-ms-animation-duration: 12s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;

	animation-name: cog_reverse;
	animation-duration: 12s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


.rot {
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-ms-keyframes cog {
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes cog {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes cog {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes cog {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}


@-ms-keyframes cog_reverse {
	from { -ms-transform: rotate(360deg); }
	to { -ms-transform: rotate(0deg); }
}
@-moz-keyframes cog_reverse {
	from { -moz-transform: rotate(360deg); }
	to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes cog_reverse {
	from { -webkit-transform: rotate(360deg); }
	to { -webkit-transform: rotate(0deg); }
}
@keyframes cog_reverse {
	from {
		transform:rotate(360deg);
	}
	to {
		transform:rotate(0deg);
	}
}


.main_heading {

	&__mobile {
		color: #000;
		display: block;
		font-weight: 700;
		padding: 0 1.5rem;
		font-size: 1.2rem;
		line-height: 1.8rem;
		text-align: center;
		position: relative;
		margin-bottom: 2rem;
		text-decoration: none;
		font-family: $font-family-head;


		i {
			top: 4px;
			left: 0;
			position: absolute;
			font-size: 1.2rem;
			font-weight: 400;
		}
	}

	&__desktop {
		display: none;
	}

	.breadcrumb {
		margin-bottom: 2rem;
	}

	@media (min-width: $screen-md-min) {

		&__mobile {
			display: none;
		}

		&__desktop {
			display: block;
		}
	}
}

.offer {
	color: #FCFCFC;
	position: relative;
	padding: 53px 0 95px 0;
	background: url("../img/mersedes.jpg") 50% 50% no-repeat;
	background-size: cover;

	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		z-index: 1;
		position: absolute;
		background: rgba(0, 0, 0, 0.3);
	}

	h1 {
		font-weight: 700;
		font-size: 2.1rem;
		line-height: 3rem;
		margin-bottom: 1rem;
		font-family: $font-family-head;

		span {
			border-bottom: 5px solid #9E1E1E;
		}
	}

	&__content {
		z-index: 10;
		margin: 0 auto;
		max-width: 320px;
		text-align: center;
		position: relative;
	}


	&__text {
		font-size: 1.4rem;
		line-height: 2.3rem;
		margin-bottom: 2rem;
	}

	&__buttons {
		padding: 0;
		margin: 0 -1rem;
		list-style: none;
		@include flexbox();
		@include justify-content(center);

		> li {
			padding: 0 1rem;
			display: inline-block;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 60px;
		padding-bottom: 70px;

		h1 {
			font-size: 3.2rem;
			line-height: 4.6rem;
			margin-bottom: 1.2rem;

			span {
				border-bottom-width: 7px;
			}
		}

		&__content {
			width: 450px;
			max-width: inherit;
		}

		&__text {
			font-size: 1.6rem;
			line-height: 2.6rem;
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 165px;
		padding-bottom: 116px;

		&__content {
			margin: 0;
			text-align: left;
		}

		&__buttons {
			@include justify-content(flex-start);
		}
	}
}

.cat_block {
	color: #fff;
	padding-top: 20px;
	background: #141414;

	&__title {
		font-weight: 700;
		font-size: 1.8rem;
		text-align: center;
		line-height: 2.2rem;
		margin-bottom: 2rem;
		font-family: $font-family-head;
	}

	&__form {
		padding: 0;
		width: 160px;
		margin: 0 auto;
		list-style: none;

		> li {
			margin-bottom: 2rem;
		}

		.btn {
			width: 100%;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 30px;
		padding-bottom: 50px;

		&__form {
			@include flexbox();
			@include justify-content(center);

			> li {
				width: 176px;
				padding: 0 1rem;
				margin-bottom: 0;
				min-width: 176px;

				&:last-child {
					width: auto;
					min-width: inherit;
				}
			}
		}
	}
}

.goods_block {
	color: #fff;
	background: #141414;
	font-family: $font-family-head;

	&__container {
		margin: 0 auto;
		max-width: 590px;
		@include flexbox();
		@include flex-wrap(wrap);
	}

	&__item {
		width: 50%;
		color: #fff;
		display: block;
		padding-top: 1rem;
		position: relative;
		text-decoration: none;

		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			content: '';
			display: block;
			position: absolute;
			border: 2px solid #9E1E1E;
			@include transition(.3s);
		}

		&:hover {

			.goods_block__name {
				color: #fff;
				text-decoration: none;
			}

			&:before {
				opacity: 1;
				@include transition(.3s);
			}
		}
	}

	&__elem {
		max-width: 330px;
	}

	&__name {
		margin: 0 1.5rem;
		height: 3.2rem;
		overflow: hidden;
		font-weight: 700;
		font-size: 1.1rem;
		line-height: 1.6rem;
	}

	@media (min-width: $screen-md-min) {

		&__container {
			max-width: 1368px;
		}

		&__item {
			width: 25%;
			padding-top: 2rem;
		}

		&__name {
			max-width: 190px;
			height: 4.6rem;
			margin: 0 0 0 40px;
			font-size: 1.6rem;
			line-height: 2.3rem;

		}
	}
}

.vendor {
	color: #fff;
	display: none;
	padding-top: 20px;
	background: #141414;
	padding-bottom: 45px;
	font-family: $font-family-head;

	&__title {
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 3.6rem;
		text-align: center;
		margin-bottom: 3.5rem;
	}

	&__container {
		margin: 0 auto;
		max-width: 1368px;
		@include flexbox();
		@include justify-content(space-around);
	}

	&__item {
		display: block;
		width: 16.66%;
		text-align: center;
	}

	&__logo {
		max-width: 148px;
		margin: 0 auto 0.5rem auto;
	}

	&__name {
		font-weight: 700;
		font-size: 1.3rem;
		line-height: 1.9rem;
	}

	@media (min-width: $screen-lg-min) {
		display: block;
		padding-top: 50px;
	}

	@media (min-width: $screen-xl-min) {
		padding-bottom: 65px;
	}
}

.service_block {
	margin: 0 auto;
	max-width: 1368px;
	@include flexbox();
	@include flex-wrap(wrap);

	.service_item {
		color: #fff;
		width: 100%;
		overflow: hidden;
		position: relative;
		padding: 35px 20px 35px 15px;
		@include transition(.7s);

		.service_item_wrap {
			z-index: 20;
			position: relative;
		}

		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 5;
			content: '';
			position: absolute;
			background: rgba(0,0,0,0.3);
		}

		&:after {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			content: '';
			position: absolute;
			@include transition(.7s);
		}

		&:hover {
			@include transition(.7s);

			&:after {
				@include scale(1.3);
				@include transition(.7s);
			}

		}

		&.item_01 {
			padding-top: 60px;
			padding-bottom: 60px;
			position: relative;

			&:after {
				background: url("../img/service__01.jpg") 50% 50% no-repeat;
				background-size: cover;
			}

			p {
				margin-bottom: 3.3rem;
			}
		}

		&.item_02 {

			&:after {
				background: url("../img/service__02.jpg") 50% 50% no-repeat;
				background-size: cover;
			}
		}

		&.item_03 {

			&:after {
				background: url("../img/service__03.jpg") 50% 50% no-repeat;
				background-size: cover;
			}
		}

		&.item_04 {
			color: #1C1C1C;


			&:after {
				background: url("../img/service__spare.jpg") 50% 50% no-repeat;
				background-size: cover;
			}

			&:before {
				background: rgba(255,255,255,0.3);
			}
		}

		&.item_05 {
			color: #1C1C1C;
			background: url("../img/service__05.png") 100% 50% no-repeat;

			&:before {
				background: rgba(255,255,255,0);
			}
		}

		&.item_06 {
			color: #fff;
			background: url("../img/service__06.jpg") 100% 100% no-repeat;

			&:before {
				background: transparent;
			}
		}

		&:hover {

			h4 {

				span {

					&:before {
						-webkit-transform: translateX(0%);
						transform: translateX(0%);
						@include transition(.4s);
					}
				}
			}
		}
	}

	.service_content {
		z-index: 10;
		max-width: 270px;
		position: relative;
	}

	h4 {
		max-width: 245px;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2.2rem;
		margin-bottom: 1.5rem;
		font-family: $font-family-head;

		span {
			overflow: hidden;
			padding-bottom: 1rem;
			display: inline-block;
			position: relative;

			&:after {
				z-index: 1;
				left: 0;
				bottom: 0;
				width: 100%;
				content: '';
				height: 5px;
				display: inline-block;
				position: absolute;
				background: #9E1E1E;
			}

			&:before {
				left: 0;
				bottom: 0;
				z-index: 5;
				width: 100%;
				content: '';
				height: 5px;
				position: absolute;
				display: inline-block;
				background: $color-yellow;
				-webkit-transform: translateX(-100%);
				transform: translateX(-100%);
				@include transition(.4s);
			}
		}
	}

	p {
		font-size: 1.4rem;
		line-height: 1.9rem;
		margin-bottom: 1.8rem;
	}

	@media (min-width: $screen-md-min) {

		.service_item {
			padding: 40px;

			&.item_01 {
				padding-top: 50px;
				padding-bottom: 50px;
			}

			&.item_02 {
				width: 50%;
			}

			&.item_03 {
				width: 50%;
			}

			&.item_05 {
				padding-top: 80px;
				padding-bottom: 90px;

				p {
					margin-bottom: 4.5rem;
				}
			}

			&.item_06 {
				padding-top: 80px;
				padding-bottom: 90px;

				p {
					margin-bottom: 4.5rem;
				}

				.service_block_btn {
					max-width: 380px;
					text-align: right;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.service_content {
			max-width: inherit;
		}

		h4 {
			max-width: inherit;
			font-size: 2.1rem;
			line-height: 2.5rem;
			margin-bottom: 2.5rem;
		}

		p {
			max-width: 380px;
			margin-bottom: 4.5rem;
		}


		.service_item {

			&.item_01 {

				p {
					margin-bottom: 1.8rem;
				}
			}

			&.item_02 {
				width: 50%;
			}

			&.item_03 {
				width: 50%;
			}

			&.item_04 {
				padding-top: 40px;
				padding-bottom: 40px;

				&:before {
					display: none;
				}

				p {
					margin-bottom: 3.8rem;
				}
			}
		}
	}


	@media (min-width: $screen-xl-min) {

		.service_item {
			padding: 65px 53px 70px 53px;

			&.item_01 {
				padding-top: 80px;
				padding-bottom: 95px;

				p {
					margin-bottom: 4rem;
				}
			}

			&.item_02 {

				p {
					width: 290px;
				}
			}

			&.item_03 {

				p {
					width: 290px;
				}
			}

			&.item_04 {
				padding-top: 80px;
				padding-bottom: 95px;

				p {
					margin-bottom: 4rem;
				}
			}

			h4 {
				margin-bottom: 2rem;
			}

			p {
				margin-bottom: 2.1rem;
			}

			.service_item_wrap {
				width: 978px;
				margin: 0 auto;
			}
		}
	}
}

.info_block {
	width: 100%;
	margin: 0 auto;
	max-width: 1368px;
	position: relative;
	padding-top: 20px;
	padding-bottom: 40px;

	&__bg {
		left: 0;
		right: 0;
		z-index: 1;
		display: none;
		position: absolute;

		&_image {
			margin: 0 auto;
			max-width: 1120px;
		}
	}

	&__content {
		margin: 0;
		padding: 0;
		z-index: 10;
		width: 100%;
		list-style: none;
		position: relative;
		@include flexbox();
		@include flex-direction(column);

		> li {

			&:nth-child(1) {

				.elem_text_wrap {

					&:before {
						top: -1.5rem;
						content: '';
						width: 21px;
						height: 19px;
						left: 0;
						color: #9E1E1E;
						font-weight: 700;
						position: absolute;
						display: inline-block;
						background: url("../img/quote__first.svg") 0 0 no-repeat;
						background-size: cover;
					}
				}
			}

			&:nth-child(4) {

				.elem_text_wrap {

					&:before {
						bottom: 4rem;
						content: '';
						width: 21px;
						height: 19px;
						right: 1.5rem;
						color: #9E1E1E;
						font-weight: 700;
						position: absolute;
						display: inline-block;
						background: url("../img/quote__last.svg") 0 0 no-repeat;
						background-size: cover;
					}
				}

				.elem_image {
					display: none;
				}
			}
		}

		.elem_text {
			color: #000;
			padding: 2.5rem 1.5rem 1.5rem 1.5rem;
			font-size: 1.4rem;
			line-height: 1.9rem;
			text-align: center;
			position: relative;

			&_wrap {
				position: relative;
			}

			p {
				margin-bottom: 0;
			}
		}

		.elem_text_signature {
			width: 166px;
			margin: 0 auto;
			position: relative;
			margin-top: 30px;

			&:before {
				left: -30px;
				top: 50%;
				color: #000;
				width: 16px;
				height: 2px;
				content: '';
				background: #000;
				position: absolute;
			}
		}


		.elem_image {
			overflow: hidden;
		}
	}

	@media (min-width: $screen-md-min) {

		&__content {

			> li {
				@include flexbox();

				&:nth-child(1) {

					.elem_text_wrap {

						&:before {
							left: -1rem;
						}
					}
				}

				&:nth-child(2) {
					@include flex-direction(row-reverse);
				}

				&:nth-child(4) {
					@include flex-direction(row-reverse);

					.elem_image {
						display: block;
					}

					.elem_text_wrap {

						&:before {

						}
					}
				}
			}

			.elem_text {
				width: 50%;
				padding: 2rem 2.5rem;
				@include flexbox();

				&_wrap {
					margin: auto;
				}
			}

			.elem_image {
				width: 50%;

				&_wrap {
					margin: 0 -45px;
				}
			}

			.elem_text_signature {
				margin-top: 25px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__bg {
			top:90px;
			display: block;
		}

		&__content {

			> li {

				&:nth-child(1) {

					.elem_text_wrap {

						&:before {
							width: 31px;
							height: 27px;
							left: -3.5rem;
						}
					}
				}

				&:nth-child(4) {

					.elem_text_wrap {

						&:before {
							width: 31px;
							height: 27px;
							right: -3.5rem;
						}
					}
				}
			}

			.elem_image {
				width: 50%;

				&_wrap {
					margin: 0;
				}
			}

			.elem_text {
				padding-left: 65px;
				padding-right: 65px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__bg {
			top:45px;
		}

		&__content {

			> li {


			}

			.elem_text {
				font-size: 1.8rem;
				line-height: 2.5rem;

				&_wrap {
					max-width: 495px;
				}
			}
		}

	}

}

.brand {
	margin: 0 auto;
	max-width: 1300px;
	padding-top: 30px;
	overflow: hidden;
	padding-bottom: 30px;

	&__container {
		padding: 0 30px;
		position: relative;
		max-width: 1330px;
	}

	&__title {
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2.6rem;
		text-align: center;
		margin-bottom: 2rem;
	}

	&__slider {
		position: relative;
	}

	&__item {
		padding: 0 1.1rem;
		text-align: center;

		.item_image {
			margin: 0 auto;
			max-width: 174px;
		}

		.item_name {
			font-weight: 700;
			font-size: 1.3rem;
			line-height: 1.9rem;
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		width: auto;
		color: #000;
		height: 3rem;
		opacity: 0.5;
		outline: none;
		padding: 0.3rem 0;
		font-size: 2.4rem;
		line-height: 2.4px;
		margin-top: -26px;
		background: transparent;
	}

	.swiper-button-next {
		right: 5px;
	}

	.swiper-button-prev {
		left: 5px;
	}

	@media (min-width: $screen-md-min) {

		&__container {
			padding: 0 65px;
		}

		.swiper-button-next {
			right: 20px;
		}

		.swiper-button-prev {
			left: 20px;
		}

		&__title {
			margin-bottom: 3.5rem;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__title {
			margin-bottom: 5.5rem;
		}
	}

}

.bnr_block {
	margin: 0 auto;
	max-width: 1368px;

	.bnr_item {
		color: #fff;
		overflow: hidden;
		padding: 35px 25px;
		position: relative;

		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			content: '';
			display: block;
			position: absolute;
			@include transition(0.7s);
		}

		&:hover {

			&:before {
				@include scale(1.3);
				@include transition(0.7s);
			}
		}

		&.item_01 {

			&:before {
				background: url("../images/banner_01.jpg") 50% 50% no-repeat;
				background-size: cover;
			}
		}

		&.item_02 {

			&:before {
				background: url("../images/banner_02.jpg") 50% 50% no-repeat;
				background-size: cover;
			}
		}

		h4 {
			max-width: 200px;
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2.2rem;
			margin-bottom: 1.5rem;
			font-family: $font-family-head;

			span {
				padding-bottom: 0.5rem;
				display: inline-block;
				border-bottom: 5px solid #9E1E1E;
			}
		}

		p {
			font-size: 1.4rem;
			line-height: 1.9rem;
			margin-bottom: 2rem;
		}
	}

	.bnr_item_content {
		z-index: 50;
		position: relative;
	}

	@media (min-width: $screen-md-min) {
		@include flexbox();

		.bnr_item {
			width: 50%;
		}
	}

	@media (min-width: $screen-lg-min) {

		.bnr_item {
			padding: 40px 42px;

			h4 {
				font-size: 2.1rem;
				line-height: 2.5rem;
				margin-bottom: 1.7rem;
				max-width: inherit;
			}

			p {
				max-width: 330px;
				margin-bottom: 4.5rem;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		.bnr_item {
			padding: 69px 100px 70px 55px;

			p {
				width: 290px;
				margin-bottom: 2rem;
			}
		}

		.bnr_item_button {
			text-align: right;
		}
	}

}

.actions {
	overflow: hidden;
	max-width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;

	&__row {
		margin: 0 -1.5rem;
	}

	&__item {
		color: #fff;
		height: 153px;
		overflow: hidden;
		position: relative;
		padding: 25px 25px 0 25px;

		&:before {
			top:0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			content: '';
			position: absolute;
			@include transition(0.7s);
		}

		&:hover {

			&:before {
				@include scale(1.3);
				@include transition(0.7s);
			}

			h4 {

				span {

					&:before {
						-webkit-transform: translateX(0%);
						transform: translateX(0%);
						@include transition(.4s);
					}
				}
			}
		}


		&.item_01 {
			color: #000;

			&:before {
				background: url("../img/action_01.jpg") 50% 50% no-repeat;
				background-size: cover;
			}
		}

		&.item_02 {

			&:before {
				background: url("../img/action_02.jpg") 50% 50% no-repeat;
				background-size: cover;
			}
		}

		&.item_03 {

			&:before {
				background: url("../img/action_03.jpg") 50% 50% no-repeat;
				background-size: cover;
			}
		}

		h4 {
			z-index: 40;
			width: 290px;
			font-weight: 700;
			font-size: 1.8rem;
			position: relative;
			line-height: 2.2rem;
			margin-bottom: 0.5rem;
			font-family: $font-family-head;

			span {
				overflow: hidden;
				padding-bottom: 1rem;
				display: inline-block;
				position: relative;

				&:after {
					z-index: 1;
					left: 0;
					bottom: 0;
					width: 100%;
					content: '';
					height: 5px;
					display: inline-block;
					position: absolute;
					background: #9E1E1E;
				}

				&:before {
					left: 0;
					bottom: 0;
					z-index: 5;
					width: 100%;
					content: '';
					height: 5px;
					position: absolute;
					display: inline-block;
					background: $color-yellow;
					-webkit-transform: translateX(-100%);
					transform: translateX(-100%);
					@include transition(.4s);
				}
			}
		}

		p {
			z-index: 40;
			font-weight: 600;
			font-size: 1.4rem;
			line-height: 1.9rem;
			letter-spacing: 1px;
			position: relative;
			text-transform: uppercase;
		}

		.btn {
			z-index: 40;
			left: 25px;
			bottom: 10px;
			position: absolute;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 50px;
		padding-bottom: 50px;

		&__row {
			max-width: 800px;
			margin: 0 auto;
		}

		&__item {

			.btn {
				left: auto;
				right: 25px;
			}
		}

		.swiper-button-next,
		.swiper-button-prev {
			width: auto;
			color: #000;
			height: 3rem;
			opacity: 0.5;
			outline: none;
			padding: 0.3rem 0;
			font-size: 2.4rem;
			line-height: 2.4px;
			margin-top: -1.5rem;
			background: transparent;
		}

		.swiper-button-next {
			right: 15px;
		}

		.swiper-button-prev {
			left: 15px;
		}

	}

	@media (min-width: $screen-lg-min) {

		&__row {
			max-width: inherit;
		}

		.swiper-button-next {
			right: -30px;
		}

		.swiper-button-prev {
			left: -30px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__row {
			max-width: inherit;
		}
		.swiper-button-next,
		.swiper-button-prev {
			opacity: 0;
			display: none;
			visibility: hidden;
		}
	}
}

.instagram {
	padding-bottom: 30px;

	&__title {
		color: #000;
		text-align: center;
		margin-bottom: 1.5rem;

		&_logo {
			width: 118px;
			display: block;
			font-weight: 700;
			font-size: 1.8rem;
			position: relative;
			line-height: 2.4rem;
			padding-left: 2.8rem;
			margin: 0 auto 1.5rem auto;
			font-family: $font-family-head;

			i {
				top: 0;
				left: 0;
				height: 2.4rem;
				color: #9E1E1E;
				font-size: 2.4rem;
				line-height: 2.4rem;
				position: absolute;
			}

			span {

			}
		}

		&_link {
			color: #fff;
			width: 232px;
			height: 32px;
			display: block;
			margin: 0 auto;
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2.2rem;
			text-decoration: none;
			padding: 0.4rem 0 0.6rem;
			font-family: $font-family-head;
			background: url("../img/instagram__link.svg") 50% 50% no-repeat;
			background-size: cover;

			&:hover {
				color: #fff;
			}
		}
	}

	&__row {
		margin: 0 -0.8rem;
		@include flexbox();
		@include flex-wrap(wrap);
	}

	&__item {
		width: 50%;
		padding: 0 0.8rem;
		margin-bottom: 1.6rem;

		a {
			display: block;
			overflow: hidden;

			img {
				@include transition(.3s);
			}

			&:hover {

				img {
					@include scale(1.3);
					@include transition(.3s);
				}
			}
		}
	}


	@media (min-width: $screen-md-min) {
		padding-bottom: 20px;

		&__title {
			@include flexbox();
			margin: 0 0 3.2rem 0;

			&_logo {
				width: auto;
				font-size: 2.4rem;
				line-height: 2.4rem;
				margin: 7px 40px 0 0;
			}

			&_link {
				margin: 0;
				width: 292px;
				height: 40px;
				font-size: 2.4rem;
				line-height: 3rem;

			}
		}

		&__row {
			margin: 0 -1.2rem;
		}

		&__item {
			width: 25%;
			padding: 0 1.2rem;
			margin-bottom: 2.4rem;
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-bottom: 40px;

		&__row {
			margin: 0 -1rem;
		}

		&__item {
			width: 16.66%;
			padding: 0 1rem;
			margin-bottom: 2rem;
		}
	}
}

.content {
	padding: 55px 35px;
	background: #C9C9C9;
}

.service_page {
	padding-top: 10px;
	padding-bottom: 60px;
//	background: url("../img/service_bg.png") 50% 50% no-repeat;


	&.service_page_animate {
		max-width: 100%;
		overflow: hidden;
		position: relative;

		.container {
			z-index: 100;
			position: relative;
		}

		.page_animate_elem {
			top: 0;
			left: 50%;
			z-index: 1;
			display: none;
			width: 1400px;
			position: absolute;
			margin-left: -700px;
		}
	}

	@media (min-width: $screen-md-min) {
		padding-bottom: 250px;

		.breadcrumb {
			margin-bottom: 105px;
		}
	}

	@media (min-width: $screen-lg-min) {
	}

	@media (min-width: $screen-xl-min) {

		&.service_page_animate {
			background: transparent;

			.page_animate_elem {
				display: block;
			}
		}
	}
}

.share {
	z-index: 990;
	margin: 0;
	padding: 0;
	top: 220px;
	right: 0;
	font-size: 0;
	line-height: 0;
	display: none;
	overflow: hidden;
	background: #1C1C1C;
	list-style: none;
	position: fixed;
	@include border-radius(9px 0 0 9px);

	li {

		a {
			color: #fff;
			width: 34px;
			font-size: 18px;
			line-height: 18px;
			text-align: center;
			padding: 0.6rem 0 0.7rem 0.2rem;
			display: inline-block;
			text-decoration: none;

			&:hover {
				color: $color-yellow;
				text-decoration: none;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		display: block;
	}

}

.main_filter {
	max-width: 880px;
	margin: 0 auto 2rem auto;

	.main_filter_wrap {
		width: 156px;
		margin: 0 auto;
	}

	.filter_col {
		width: 100%;
		max-width: 100%;
		padding: 0 1rem;
		@include flex-basis(100%);
	}

	@media (min-width: $screen-md-min) {

		.main_filter_wrap {
			width: 100%;
		}

		.filter_col {
			width: 20%;
			@include flex-basis(20%);
		}

		.btn {
			width: 100%;
		}
	}
}

.vendors {

	&__row {
		margin: 0 -0.8rem;
		@include flexbox();
		@include flex-wrap(wrap);
	}

	&__elem {
		width: 50%;
		padding: 0 0.8rem;
		margin-bottom: 1.6rem;
	}

	&__item {
		display: block;
		position: relative;

		span {
			left: 0;
			right: 0;
			bottom: 5px;
			color: #fff;
			display: block;
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 2rem;
			text-align: center;
			position: absolute;
			font-family: $font-family-head;
		}
	}

	@media (min-width: $screen-md-min) {

		&__row {
			margin: 0 -1rem;
		}

		&__elem {
			width: 33.33%;
			padding: 0 1rem;
			margin-bottom: 2rem;
		}

		&__item {

			span {
				bottom: 10px;
				font-size: 2.1rem;
				line-height: 3rem;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__elem {
			width: 25%;
		}
	}
}

.models {

	&__row {
		margin: 0 -0.8rem;
		@include flexbox();
		@include flex-wrap(wrap);
	}

	&__elem {
		width: 50%;
		padding: 0 0.8rem;
		margin-bottom: 1.6rem;
	}

	&__item {
		display: block;
		position: relative;

		span {
			left: 0;
			right: 0;
			bottom: 15px;
			color: #fff;
			display: block;
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 2rem;
			text-align: center;
			position: absolute;
			font-family: $font-family-head;
		}
	}

	@media (min-width: $screen-md-min) {

		&__row {
			margin: 0 -1rem;
		}

		&__elem {
			width: 33.33%;
			padding: 0 1rem;
			margin-bottom: 2rem;
		}

		&__item {

			span {
				bottom: 25px;
				font-size: 2.1rem;
				line-height: 3rem;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__elem {
			width: 25%;
		}
	}
}

.compare {
	width: 300px;
	display: table;
	table-layout: fixed;
	margin: 0 auto 60px auto;

	&__legend {
		width: 30px;
		table-layout: fixed;
		display: table-cell;
		vertical-align: top;

		&_title {
			height: 2rem;
			font-size: 1.8rem;
			font-weight: 700;
			text-align: left;
			line-height: 2rem;
			margin-bottom: 3rem;
			font-family: $font-family-head;

			span {
				display: none;
			}
		}

		&_list {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {
				height: 2.4rem;
				font-weight: 400;
				font-size: 1.8rem;
				line-height: 2.4rem;
				position: relative;
				padding-left: 3.8rem;
				margin-bottom: 15px;

				&:before {
					left: 0;
					top: 50%;
					content: '';
					position: absolute;
					display: inline-block;
				}

				&:nth-child(1) {

					&:before {
						width: 22px;
						height: 15px;
						margin-top: -8px;
						background: url("../img/icon__engine.svg") 0 0 no-repeat;
						background-size: cover;
					}
				}

				&:nth-child(2) {

					&:before {
						width: 19px;
						height: 22px;
						margin-top: -11px;
						background: url("../img/icon__horse.svg") 0 0 no-repeat;
						background-size: cover;
					}
				}

				&:nth-child(3) {

					&:before {
						width: 20px;
						height: 20px;
						margin-top: -10px;
						background: url("../img/icon__oil.svg") 0 0 no-repeat;
						background-size: cover;
					}
				}

				&:nth-child(4) {

					&:before {
						width: 22px;
						height: 18px;
						margin-top: -9px;
						background: url("../img/icon__speed.svg") 0 0 no-repeat;
						background-size: cover;
					}
				}

				&:nth-child(5) {

					&:before {
						width: 22px;
						height: 18px;
						margin-top: -9px;
						background: url("../img/icon__acceleration.svg") 0 0 no-repeat;
						background-size: cover;
					}
				}

				span {
					display: none;
				}
			}
		}

		&_price {
			height: 2.2rem;
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2.2rem;
			font-family: $font-family-head;

			span {
				display: none;
			}
		}
	}

	&__base {
		width: 120px;
		table-layout: fixed;
		display: table-cell;
		vertical-align: top;
	}

	&__items {
		position: relative;
		table-layout: fixed;
		display: table-cell;
		vertical-align: top;
	}

	&__params {

		&_container {
			border-left: 1px solid #000;
		}

		&_title {
			height: 2rem;
			font-size: 1.8rem;
			font-weight: 700;
			text-align: center;
			line-height: 2rem;
			margin-bottom: 3rem;
			font-family: $font-family-head;
		}

		&_list {
			padding: 0;
			width: 110px;
			margin: 0 auto;
			list-style: none;

			> li {
				height: 2.4rem;
				font-weight: 400;
				font-size: 1.8rem;
				text-align: center;
				line-height: 2.4rem;
				position: relative;
				margin-bottom: 15px;
				@include clearfix();

				span {
					float: left;
					text-align: left;
					display: inline-block;
				}

				small {
					float: right;
					font-weight: 700;
					font-size: 1.2rem;
					line-height: 1.4rem;
					color: #9E1E1E;
					text-align: right;
					display: inline-block;
				}
			}
		}

		&_price {
			height: 2.2rem;
			font-weight: 700;
			font-size: 1.8rem;
			text-align: center;
			line-height: 2.2rem;
			margin-bottom: 1.8rem;
			font-family: $font-family-head;
		}

		&_action {
			text-align: center;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		top: 0;
		height: 2.4rem;
		width: 2.4rem;
		padding: 0;
		outline: none;
		margin-top: 0;
		text-decoration: none;
		color: $color-red;
		font-size: 2.4rem;
		background: transparent;
		line-height: 2.4rem;
		font-family: FontAwesome;
	}

	.swiper-button-disabled {
		opacity: 0;
		visibility: hidden;
	}

	@media (min-width: $screen-md-min) {
		width: auto;

		&__legend {
			width: 197px;
			table-layout: fixed;
			display: table-cell;
			vertical-align: top;

			&_title {

				span {
					display: inline;
				}
			}

			&_list {
				margin: 0;
				padding: 0;
				list-style: none;

				> li {
					padding-left: 0;

					&:before {
						display: none;
					}

					span {
						display: inline;
					}
				}
			}

			&_price {

				span {
					display: inline;
				}
			}
		}

		&__params {
			width: 160px;
			min-width: 160px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.swiper-slide {
			width: 200px !important;
		}

		&__params {
			width: 200px;
			min-width: 200px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__params {
			width: 200px;
			min-width: 200px;
		}
	}
}

.showcase {
	z-index: 20;
	max-width: 100%;
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;

	&_row {
		margin: 0 -0.5rem;
		@include flexbox();
		@include flex-wrap(wrap);
		@include flex-direction(column);
	}

	&_col {
		z-index: 1;
		position: relative;

		&:hover {
			z-index: 10;
		}
	}

	&__block {
		position: relative;
		margin-bottom: 15px;

		&:hover {
			z-index: 50;
		}
	}

	&__header {
		margin-bottom: 2rem;

		&_title {
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2.6rem;
			font-family: $font-family-head;
		}

		&_button {
			display: none;
		}
	}

	&__content {
		position: relative;
	}


	&__slider {
		overflow: inherit;
		position: relative;

		&:after,
		&:before {
			top: 0;
			height: 100%;
			content: '';
			z-index: 90;
			width: 1000px;
			display: block;
			background: #fff;
			position: absolute;
		}

		&:after {
			left: -1005px;
		}

		&:before {
			right: -1005px;
		}

		.swiper-button-next,
		.swiper-button-prev {
			width: auto;
			color: #000;
			height: 3rem;
			opacity: 0.5;
			outline: none;
			z-index: 100;
			padding: 0.3rem 0;
			font-size: 2.4rem;
			line-height: 2.4px;
			margin-top: -1.5rem;
			background: transparent;
		}

		.swiper-button-next {
			right: -10px;
		}

		.swiper-button-prev {
			left: -10px;
		}
	}


	@media (min-width: $screen-md-min) {

		&_row {
			@include flex-direction(row);
		}

		&_col {
			width: 50%;
		}

		&__block {
			margin-bottom: 40px;
		}

		&__header {
			margin-bottom: 3.5rem;
			@include flexbox();
			@include justify-content(space-between);

			&_button {
				display: inline-block;
			}
		}

		&__slider {

			.swiper-button-next,
			.swiper-button-prev {
				top: 120px;
				margin-top: 0;
			}

			.swiper-button-next {
				right: -30px;
			}

			.swiper-button-prev {
				left: -30px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&_col {
			width: 33.33%;
		}

		&__header {

			&_title {
				font-size: 2.4rem;
				line-height: 3.5rem;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&_col {
			width: 25%;
		}
	}
}

.goods {
	margin: 0 auto;
	padding: 0 1.5rem 1.5rem 1.5rem;
	max-width: 310px;
	position: relative;

	.goods_wrap {
		z-index: 20;
		position: relative;
		@include flexbox();
	}

	.goods_mobile_link {
		top: 0;
		left: 0;
		z-index: 20;
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
	}

	.goods_product {
		width: 140px;
		min-width: 140px;
		position: relative;
	}

	.goods_info {
		padding-left: 2rem;
		@include flex-grow(1);
		@include flexbox();
		@include flex-direction(column);
	}

	.goods_product {

		.goods_product_meta {
			padding-top: 5px;
			@include flexbox();
			@include justify-content(center);

			b,
			i {
				display: inline-block;
				-webkit-transform: skew(25deg);
				-moz-transform: skew(25deg);
				-o-transform: skew(25deg);
				transform: skew(25deg);
			}

			> span {
				color: #fff;
				width: 36px;
				height: 19px;
				display: block;
				padding: 0.2rem 0;
				text-align: center;
				position: relative;
				font-size: 0.9rem;
				line-height: 1.5rem;
				@include border-radius(4px 4px 0 0);
				-webkit-transform: skew(-25deg);
				-moz-transform: skew(-25deg);
				-o-transform: skew(-25deg);
				transform: skew(-25deg);

				b {
					font-weight: 700;

				}
			}

			.product_meta_sale {
				background: #9E1E1E;
			}

			.product_meta_close {
				color: #000;
				font-size: 1.5rem;
				background: #c4c4c4;
			}

			.product_meta_new {
				background: #e09d14;
			}
		}
	}

	.goods_name {
		color: #000;
		overflow: hidden;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 2rem;
		padding-top: 1rem;
		font-family: $font-family-head;
		@include flex-grow(1);

		span {
			height: 6rem;
			display: block;
			overflow: hidden;
		}
	}

	.goods_price {
		color: #000;
		font-weight: 400;
		font-family: $font-family-head;

		.goods_price_old {
			font-size: 1.2rem;
			line-height: 1.4rem;
			text-decoration: line-through;
		}

		.goods_price_new {
			display: block;
			font-size: 1.6rem;
			line-height: 2.2rem;
		}
	}

	.goods_hover {
		top: 0;
		left: 0;
		right: 0;
		padding-top: 100%;
		z-index: 5;
		display: none;
		background: #fff;
		position: absolute;
		@include border-radius(4px);
		@include box-shadow(0px 4px 2px 0px rgba(0, 0, 0, 0.25));
	}

	.goods_colors {
		font-size: 0;
		line-height: 0;
		margin: 0 -5px;
		list-style: none;
		padding: 0 0 5px 0;
		@include flexbox();
		@include justify-content(space-between);

		> li {
			margin: 0 5px 10px 5px;
		}
	}

	.goods_color {
		width: 30px;
		height: 30px;
		display: block;
		cursor: pointer;
		overflow: hidden;
		position: relative;
		@include border-radius(5px);

		input {
			display: none;
		}

		span {
			z-index: 5;
			width: 30px;
			height: 30px;
			display: block;
			overflow: hidden;
			position: relative;

			&:before {
				top: 0;
				left: 0;
				opacity: 0;
				content: '';
				width: 30px;
				height: 30px;
				display: block;
				position: absolute;
				visibility: hidden;
				border: 2px solid #000;
				@include border-radius(5px);
			}
		}

		input:checked + span {

			&:before {
				opacity: 1;
				visibility: visible;
			}
		}

		&.goods_black {
			background: #333333;
		}

		&.goods_gray {
			background: #828282;
		}

		&.goods_red {
			background: #EB5757;
		}

		&.goods_yellow {
			background: #F2994A;
		}

		&.goods_green {
			background: #219653;
		}

		&.goods_black_yellow {

			&:after,
			&:before {
				top: 0;
				z-index: 1;
				width: 50%;
				content: '';
				height: 100%;
				display: block;
				position: absolute;
			}

			&:after {
				left: 0;
				background: #F2994A;
			}

			&:before {
				right: 0;
				background: #333333;
			}
		}

		&.goods_black_red {

			&:after,
			&:before {
				top: 0;
				z-index: 1;
				width: 50%;
				content: '';
				height: 100%;
				display: block;
				position: absolute;
			}

			&:after {
				left: 0;
				background: #EB5757;
			}

			&:before {
				right: 0;
				background: #333333;
			}
		}
	}

	.goods_buttons {
		padding: 0;
		margin: 0 -8px;
		list-style: none;
		@include flexbox();

		> li {
			padding: 0 8px;

			&:first-child {
				width: 122px;
				min-width: 122px;
			}

			&:last-child {
				@include flex-grow(1);
			}
		}

		.btn {
			width: 100%;
		}
	}

	.goods_availability {
		left: 0;
		right: 0;
		top: 50%;
		margin-top: -16px;
		position: absolute;
		text-align: center;

		span {
			color: #fff;
			width: 130px;
			padding: 0.6rem;
			font-weight: 700;
			font-size: 0.9rem;
			line-height: 2rem;
			text-align: center;
			background: #1C1C1C;
			display: inline-block;
			@include border-radius(10px);
		}
	}

	@media (min-width: $screen-md-min) {
		padding: 0 1.5rem 1.5rem 1.5rem;

		.goods_wrap {
			max-width: 310px;
			@include flex-direction(column);
		}

		.goods_mobile_link {
			display: none;
		}

		.goods_product {
			width: 100%;
			max-width: 100%;

			.goods_product_image {
				width: 210px;
				margin: 0 auto;
			}

			.goods_product_meta {
				top: 15px;
				left: 0;
				padding-top: 0;
				z-index: 100;
				position: absolute;
				@include flex-direction(column);

				b,
				i {
					display: inline-block;
					-webkit-transform: skew(0deg);
					-moz-transform: skew(0deg);
					-o-transform: skew(0deg);
					transform: skew(0deg);
				}

				> span {
					width: 58px;
					height: 30px;
					padding: 0.5rem 0;
					font-size: 1.4rem;
					line-height: 2rem;
					margin-bottom: 0.5rem;
					-webkit-transform: skew(0deg);
					-moz-transform: skew(0deg);
					-o-transform: skew(0deg);
					transform: skew(0deg);
					@include border-radius(5px);
				}


				.product_meta_close {
					display: none;
				}
			}
		}

		.goods_info {
			text-align: center;
		}

		.goods_name {
			font-size: 1.6rem;
			line-height: 2.3rem;
			margin-bottom: 1.5rem;

			span {
				height: 4.6rem;
			}
		}

		.goods_price {

			.goods_price_old {
				font-size: 1.4rem;
				line-height: 2rem;
			}

			.goods_price_new {
				font-size: 1.6rem;
				line-height: 2.4rem;
			}
		}

		.goods_hover {
			padding: 34.5rem 1.5rem 3rem 1.5rem;
		}

		&:hover {

			.goods_hover {
				display: block;
			}
		}
	}
}

.cat_filter {

	&__row {
		padding: 0;
		margin: 0 -14px;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);

		> li {
			width: 100%;
			padding: 0 14px;
			margin-bottom: 3rem;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__row {

			> li {
				width: 50%;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: 555px;

		&__row {

			> li {
				width: 33.33%;
				margin-bottom: 4.5rem;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		width: 956px;

		&__row {

			> li {
				width: 20%;
			}
		}
	}
}

.form_slider {
	position: relative;

	&__label {
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 2rem;
		margin-bottom: 1rem;
	}

	&__text {
		display: block;
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 2rem;
		text-align: center;
		font-family: $font-family-head;
	}

	.irs {
		height: 10px;
	}

	.irs-line {
		top: 3px;
		height: 4px;
		border: none;
		background: #E3E3E3;
		@include border-radius(3px);
	}

	.irs-bar {
		top: 3px;
		height: 4px;
		border: none;
		background: #9E1E1E;
	}

	.irs-slider {
		top: 0;
		width: 20px;
		height: 20px;
		background: #9E1E1E;
		border: 3px solid #1C1C1C;
		@include border-radius(50%);
		@include box-shadow(none);
	}
}

.product {

	&__heading {
		overflow: hidden;
		margin-bottom: 1rem;

		h1 {
			color: #000;
			width: 100%;
			font-size: 2.1rem;
			line-height: 2.3rem;
			margin-bottom: 0.5rem;
		}

		&_subtitle {
			color: #000;
			width: 100%;
			font-size: 1.4rem;
			line-height: 2rem;
			margin-bottom: 2rem;
		}

		&_text {
			float: left;
			position: relative;
		}

		&_logo {
			width: 100px;
			float: right;
		}
	}

	&__gallery {
		max-width: 374px;
		margin: 0 auto 2rem auto;

		&_slider {
			margin-bottom: 1rem;
		}

		&_thumbs {
			padding: 0;
			font-size: 0;
			line-height: 0;
			margin: 0 -2px;
			list-style: none;
			@include flexbox();

			> li {
				width: 44px;
				padding: 0 2px;
				display: inline-block;

				a {
					width: 40px;
					color: #fff;
					position: relative;
					display: inline-block;

					i {
						top: 50%;
						left: 50%;
						height: 18px;
						font-size: 18px;
						line-height: 18px;
						position: absolute;
						margin: -9px 0 0 -6px;
					}
				}
			}
		}
	}

	&__purchase {
		@include clearfix();

		&_price {
			float: left;
			color: #000;
			display: block;
			font-weight: 700;
			font-size: 2.1rem;
			line-height: 3.3rem;
			font-family: $font-family-head;
		}

		&_sell {
			margin: 0;
			padding: 0;
			float: right;
			list-style: none;
			text-align: center;

			> li {

				&:first-child {
					margin-bottom: 0.3rem;
				}
			}
		}
	}

	&__availability {
		font-size: 1.4rem;
		line-height: 2rem;
		display: inline-block;

		&_link {
			font-weight: 700;
			color: $color-red;
			text-decoration: underline;
			font-family: $font-family-head;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 2.6rem;
		margin-bottom: 1rem;
		font-family: $font-family-head;
	}

	&__colors {
		padding-bottom: 1rem;

		.product_color {
			margin-bottom: 1rem;
		}
	}

	&__picking {

		.picking {
			margin-bottom: 1rem;
		}
	}

	&__description {
		margin-bottom: 2rem;
	}

	&__compatibility {

	}

	&__clear {
		color: #B2B2B2;
		padding: 2rem 0;
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 2rem;
		text-align: center;
	}

	&__social {
		color: #000;
		font-size: 1.8rem;
		line-height: 2rem;
		padding-top: 1.5rem;
		@include flexbox();
		@include justify-content(center);

		span {
			font-weight: 600;
			margin-right: 0.9rem;
			display: inline-block;
		}

		a {
			color: #000;
			margin: 0 0.6rem;
			text-decoration: none;
			display: inline-block;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__heading {
			margin-bottom: 2rem;

			&_subtitle {
				margin-bottom: 1rem;
			}

			&_text {
				padding-right: 25px;
			}

			&_logo {
				width: 67px;
				float: left;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__content {
			position: relative;
			padding-right: 340px;
		}

		&__gallery {
			top: 0;
			right: 0;
			width: 300px;
			max-width: inherit;
			position: absolute;
		}

		&__description {
			padding-right: 340px;
		}

		&__clear {
			padding: 9rem 0 10rem 0;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__heading {
			margin-bottom: 2rem;
			@include flexbox();

			h1 {
				font-size: 3.2rem;
				line-height: 4.6rem;
			}

			&_subtitle {
				font-size: 2.1rem;
				line-height: 3rem;
				margin-bottom: 0;
			}

			&_logo {
				width: 67px;
				float: left;
				min-width: 67px;
				margin: 1.8rem 0 0 0;
			}
		}

		&__content {
			padding-right: 400px;
		}

		&__gallery {
			width: 374px;

			&_thumbs {

				> li {
					width: 52px;

					a {
						width: 48px;
					}
				}
			}
		}

		&__title {
			font-size: 1.8rem;
			line-height: 2.6rem;
		}

		&__description {
			padding-right: 400px;
			margin-bottom: 4rem;
		}

		&__purchase {
			margin-bottom: 2.5rem;

			&_price {
				float: left;
				color: #000;
				display: block;
				font-weight: 700;
				font-size: 3.2rem;
				line-height: 4.6rem;
				font-family: $font-family-head;
			}

			&_sell {
				padding: 0.9rem 0 0 0;
				float: right;
				text-align: right;
				@include flexbox();
				@include justify-content(right);

				> li {

					&:first-child {
						margin-bottom: 0;
						@include order(2);
					}

					&:last-child {
						margin-right: 2rem;
						@include order(1);
					}
				}
			}
		}

		&__compatibility {
			margin-bottom: 3rem;
		}

		&__clear {
			padding: 9rem 0 14rem 0;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__heading {

			&_logo {
				width: 100px;
				float: left;
				min-width: 100px;
				margin: 3rem 0 0 0;
			}
		}

		&__description {
			padding-right: 0;
			margin-bottom: 5rem;
		}

		&__content {
			padding-right: 600px;
		}

		&__gallery {
			width: 580px;

			&_thumbs {

				> li {
					width: 77px;

					a {
						width: 73px;
					}
				}
			}
		}

		&__clear {
			padding: 19rem 0 23rem 0;
		}
	}
}

.compatibility {
	color: #000;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 2.6rem;
	margin-bottom: 2rem;

	&__title {
		color: #fff;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2rem;
		background: #000000;
		margin-bottom: 0.5rem;
		display: inline-block;
		padding: 0.5rem 1.5rem 0.5rem 4rem;
		@include border-radius(1.5rem);

		&.compatibility_audi {
			background: #000 url("../images/logo__audi.png") 7px 50% no-repeat;
		}

		&.compatibility_mercedes {
			background: #000 url("../images/logo__mersedes.png") 7px 50% no-repeat;
		}
	}

	p {
		margin-bottom: 0;
	}
}

.product_color {
	padding: 0;
	font-size: 0;
	line-height: 0;
	margin: 0 -5px;
	list-style: none;
	@include flexbox();
	@include flex-wrap(wrap);

	> li {
		margin: 0 5px 10px 5px;
	}

	label {
		width: 30px;
		height: 30px;
		display: block;
		cursor: pointer;
		overflow: hidden;
		position: relative;
		@include border-radius(5px);

		input {
			display: none;
		}

		span {
			z-index: 5;
			width: 30px;
			height: 30px;
			display: block;
			overflow: hidden;
			position: relative;

			&:before {
				top: 0;
				left: 0;
				opacity: 0;
				content: '';
				width: 30px;
				height: 30px;
				display: block;
				position: absolute;
				visibility: hidden;
				border: 2px solid #000;
				@include border-radius(5px);
			}
		}

		input:checked + span {

			&:before {
				opacity: 1;
				visibility: visible;
			}
		}

		&.product_black {
			background: #333333;
		}

		&.product_gray {
			background: #828282;
		}

		&.product_red {
			background: #EB5757;
		}

		&.product_yellow {
			background: #F2994A;
		}

		&.product_green {
			background: #219653;
		}

		&.product_black_yellow {

			&:after,
			&:before {
				top: 0;
				z-index: 1;
				width: 50%;
				content: '';
				height: 100%;
				display: block;
				position: absolute;
			}

			&:after {
				left: 0;
				background: #F2994A;
			}

			&:before {
				right: 0;
				background: #333333;
			}
		}

		&.product_black_red {

			&:after,
			&:before {
				top: 0;
				z-index: 1;
				width: 50%;
				content: '';
				height: 100%;
				display: block;
				position: absolute;
			}

			&:after {
				left: 0;
				background: #EB5757;
			}

			&:before {
				right: 0;
				background: #333333;
			}
		}
	}
}

.picking {
	padding: 0;
	font-size: 0;
	line-height: 0;
	margin: 0 -1rem;
	list-style: none;
	@include flexbox();
	@include flex-wrap(wrap);

	> li {
		padding: 0 1rem;
		margin-bottom: 2rem;
		display: inline-block;
	}

	label {
		display: inline-block;

		input {
			display: none;
		}

		span {
			color: #000;
			outline: none;
			font-weight: 700;
			cursor: pointer;
			user-select: none;
			font-size: 1.3rem;
			text-align: center;
			white-space: nowrap;
			line-height: 1.9rem;
			display: inline-block;
			font-family: $font-family-head;
			padding: 0.4rem 1rem 0.6rem 1rem;
			vertical-align: middle;
			background: transparent;
			border: 2px solid #000000;
			@include border-radius(1.6rem);
			@include transition(.2s);

			&:hover {
				color: $color-red;
				border-color: $color-red;
			}

			&:focus,
			&.focus {
				outline: 0;
			}
		}

		input:checked + span {
			color: $color-red;
			border-color: $color-red;
		}
	}


	@media (min-width: $screen-xl-min) {
		padding-right: 2rem;
	}
}

.rec {
	margin-bottom: 3rem;

	&__content {
		position: relative;
	}
}

.information {

	&__item {
		color: #fff;
		height: 175px;
		display: block;
		position: relative;
		margin-bottom: 2rem;
		background: #141414;
		text-decoration: none;

		&:hover {
			color: $color-red;
		}
	}

	&__text {
		left: 2.6rem;
		bottom: 2rem;
		font-weight: 700;
		font-size: 2.4rem;
		position: absolute;
		line-height: 3.2rem;
		font-family: $font-family-head;
	}

	&__icon {
		top: 50%;
		right: 30px;
		height: 9rem;
		color: $color-red;
		font-size: 9rem;
		position: absolute;
		line-height: 9.6rem;
		margin-top: -5.5rem;
	}
}

.salons {
	margin-bottom: 5rem;

	.salons_item {
		color: #fff;
		text-decoration: none;
		display: block;
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 3.6rem;
		margin-bottom: 3rem;
		position: relative;
		font-family: $font-family-head;

		span {
			bottom: 2.5rem;
			right: 3rem;
			position: absolute;
			display: inline-block;
			border-bottom: 4px solid $color-red;
		}
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 8rem;
		@include flexbox();
		@include flex-wrap(wrap);

		.salons_item {
			width: 50%;
			margin-bottom: 0;
		}
	}

	@media (min-width: $screen-lg-min) {


	}

	@media (min-width: $screen-xl-min) {
	}
}

.unit {
	margin-bottom: 5rem;

	.unit_gallery {

	}


	.unit_thumbs {
		margin: 0;
		padding: 0;
		list-style: none;
		@include clearfix();

		> li {
			float: left;

			a {
				width: 40px;
				height: 40px;
				display: block;
				color: #8C8989;
				font-size: 20px;
				padding: 9px 0;
				line-height: 20px;
				text-align: center;
				border: 1px solid #8C8989;

				&:hover {
					background: #f5f5f5;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.unit_thumbs {

			> li {

				a {
					width: 60px;
					height: 60px;
					padding: 19px 0;
				}
			}
		}
	}
	@media (min-width: $screen-lg-min) {
		margin-bottom: 8rem;

		.unit_item {

			span {
				right: 5rem;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		.unit_thumbs {

			> li {

				a {
					width: 60px;
					height: 60px;
				}
			}
		}
	}

}

.builder {
	max-width: 300px;
	margin: 0 auto 6rem auto;

	h2 {
		margin-bottom: 3rem;
	}

	&__step {
		color: #fff;
		background: #1C1C1C;
		margin-bottom: 3.5rem;
		padding: 3.7rem 1.5rem;
		border: 3px solid #9E1E1E;
		@include border-radius(2rem);

		ol {
			margin: 0;
			padding: 0;
			list-style: none;
			font-weight: 700;
			counter-reset: li;
			font-size: 1.6rem;
			line-height: 2.2rem;
			font-family: $font-family-head;

			li {
				position: relative;
				margin-bottom: 2.8rem;
				padding: 0.4rem 0 0.4rem 4.4rem;

				&:after {
					top: 100%;
					left: 14px;
					z-index: 1;
					width: 2px;
					height: 20px;
					content: '';
					display: block;
					background: #fff;
					position: absolute;
					margin: 4px 0 0 0;
				}

				&:last-child {
					margin-bottom: 0;

					&:after {
						display: none;
					}
				}

				&:before {
					top: 0;
					left: 0;
					width: 3rem;
					height: 3rem;
					display: block;
					padding: 0.2rem 0;
					position: absolute;
					text-align: center;
					content: counter(li);
					counter-increment: li;
					border: 2px solid #fff;
					@include border-radius(50%);
				}

				&.active {
					color: $color-yellow;

					&:after {
						background: $color-yellow;
					}

					&:before {
						color: $color-yellow;
						border-color: $color-yellow;
					}
				}
			}
		}
	}

	&__constructor {
		position: relative;
		margin-bottom: 2rem;

		&.disabled {

			.constructor {
				opacity: 0.4;
			}
		}
	}

	&__upload {
		padding: 2rem 3rem;
		border: 3px solid #1C1C1C;
		@include border-radius(2rem);

		&_text {
			font-size: 1.4rem;
			line-height: 2rem;
			margin-bottom: 4rem;

			h5 {
				text-align: center;
				margin-bottom: 1rem;
			}

			ul {
				margin: 0;
				padding: 0;

				list-style: none;

				> li {
					padding-left: 1rem;
					position: relative;

					&:before {
						left: 0;
						top: 12px;
						width: 2px;
						height: 2px;
						content: '';
						background: #000;
						position: absolute;
						display: inline-block;
					}
				}
			}
		}

		&_content {
			text-align: center;
		}

		.upload_action {

			&_label {
				color: #000;
				font-weight: 600;
				font-size: 1.3rem;
				line-height: 1.9rem;
				margin-bottom: 1rem;
				font-family: $font-family-head;
			}
		}

		.upload {

			.upload_content {
				max-width: 200px;
				margin: 0 auto 1.5rem auto;
				position: relative;
			}

			.upload_image {
				position: relative;
			}

			.upload_content_name {
				left: 1rem;
				bottom: 0.5rem;
				color: #fff;
				overflow: hidden;
				max-width: 170px;
				display: inline-block;
				font-size: 1.2rem;
				line-height: 2rem;
				position: absolute;
				white-space: nowrap;
			}

			.upload_content_link {
				right: 4rem;
				bottom: 0.5rem;
				color: #fff;
				padding: 0.3rem;
				font-size: 1.4rem;
				line-height: 1.4rem;
				position: absolute;
				display: inline-block;
				text-decoration: none;

				&:hover {
					color: $color-red;
				}
			}

			.upload_content_remove {
				right: 1rem;
				bottom: 0.5rem;
				color: #fff;
				cursor: pointer;
				padding: 0.3rem;
				font-size: 1.4rem;
				line-height: 1.4rem;
				position: absolute;
				display: inline-block;
				text-decoration: none;

				&:hover {
					color: $color-red;
				}
			}

			.btn_file {
				margin-bottom: 1rem;
			}
		}
	}

	&__content {
		max-width: 580px;

		&_image {
			overflow: hidden;
			margin-bottom: 2rem;
			@include border-radius(2rem);
		}
	}

	&__params {

		&_row {
			margin: 0 -0.3rem;
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}

		&_col {
			width: 50%;
			padding: 0 0.3rem;
		}
	}

	&__form {
		margin: 0 auto;
		max-width: 580px;

		.form_group {
			margin-bottom: 3rem;
		}
	}

	&__done {
		padding-top: 2rem;
		text-align: center;

		h2 {
			margin-bottom: 1rem;
		}

		p {
			font-size: 1.4rem;
			line-height: 2.3rem;
			margin-bottom: 2rem;
		}
	}

	@media (min-width: $screen-md-min) {
		max-width: inherit;

		&__upload {
			@include flexbox();
			@include justify-content(space-between);

			&_text {
				width: 300px;
				min-width: 300px;
				margin-bottom: 0;

				h5 {
					text-align: left;
				}
			}

			&_content {
				padding-left: 2rem;
				@include flex-grow(1);
			}
		}

		&__params {

			&_row {
				margin: 0 -1rem;
			}

			&_col {
				width: 33.33%;
				padding: 0 1rem;
			}
		}

		&__form {

			.form_group {
				margin-bottom: 4rem;
			}
		}

		&__done {
			padding-top: 5rem;
			p {
				font-size: 1.6rem;
				line-height: 2.6rem;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__upload {

			&_text {
				width: 350px;
				min-width: 350px;
			}

			&_content {
				padding-left: 0;
			}

			.upload_action {
				padding-left: 3rem;
			}

			.upload {
				@include flexbox();
				@include justify-content(space-between);

				.upload_content {
					width: 200px;
					min-width: 200px;
					margin-bottom: 0;
				}

				.upload_action {
					@include flex-grow(1);
				}


				.btn_file {
					margin-bottom: 2rem;
				}
			}
		}
	}
}

.constructor {
	margin: 0 auto;
	max-width: 300px;

	.constructor_result {
		padding-right: 2rem;
		position: relative;
		margin-bottom: 2rem;

		.constructor_result_next {
			right: 0;
			bottom: 1.8rem;
			position: absolute;
		}
	}

	.constructor_data {

		.constructor_data_list {
			height: 200px;
			margin-bottom: 0.5rem;
		}

		.constructor_list {
			padding: 0;
			list-style: none;
			margin: 0 -0.2rem;
			@include flexbox();
			@include flex-wrap(wrap);

			> li {
				width: 33.33%;
				padding: 0 0.2rem;
				margin-bottom: 0.4rem;
			}

			label {
				display: block;

				input {
					display: none;
				}

				i {
					display: block;
					padding: 0.5rem;
					cursor: pointer;
					border: 1px solid transparent;
					@include border-radius(1rem);

					&:hover {
						border-color: #CFCFCF;
					}
				}

				input:checked + i {
					padding: 0.4rem;
					border: 2px solid #9E1E1E;

					&:hover {
						border-color: #9E1E1E;
					}
				}
			}
		}

		.constructor_data_button {

			a {
				width: 100%;
				color: #fff;
				height: 2.3rem;
				display: block;
				padding: 0.2rem 0;
				line-height: 1.9rem;
				font-size: 1.9rem;
				text-align: center;
				background: #1C1C1C;
				text-decoration: none;
				@include border-radius(3px);
			}
		}
	}

	@media (min-width: $screen-md-min) {
		max-width: inherit;
		@include flexbox();
		@include justify-content(space-between);

		.constructor_result {
			padding: 1rem 7rem 0 4rem;
			margin-bottom: 0;

			.constructor_result_next {
				right: 2rem;
			}
		}

		.constructor_data {
			width: 280px;
			min-width: 280px;

			.constructor_data_list {
				height: 280px;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		.constructor_result {
			padding: 1rem 12.4rem 0 9.2rem;

			.constructor_result_next {
				right: 5rem;
			}
		}

		.constructor_data {

			.constructor_data_list {
				height: 368px;
			}
		}
	}

	.scroll-bar {
		z-index: 20;
		background: #C4C4C4;
		right: 0 !important;
		width: 5px !important;
		left: auto !important;
		position: absolute;
		@include border-radius(3px);
	}
}

.constructor_disable {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	position: absolute;
	@include flexbox();

	a {
		margin: auto;
		color: #000;
		display: inline-block;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2.2rem;
		text-decoration: underline;

		&:hover {
			text-decoration: navajowhite;
		}
	}

	@media (min-width: $screen-md-min) {

		a {
			margin: auto;
			font-size: 2.4rem;
			line-height: 3rem;
		}
	}
}


.data_scroll {
	height: 100%;
	max-height: 100%;

	.data_scroll_content {
		padding-right: 0.7rem;
	}
}

.scroll-wrapper {
	height: 100%;
}

.scroll-y {
	top: 0;
	right: 0;
	height: 100%;
	width: 5px;
	background: transparent;
	position: absolute;
}

.scroll-element {

	.scroll-element_outer,
	.scroll-element_size,
	.scroll-element_track {
		display: block;
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;
	}
}

.production {
	z-index: 20;
	padding-top: 10px;
	position: relative;
	padding-bottom: 50px;

	@media (min-width: $screen-md-min) {
		padding-bottom: 70px;
	}

	@media (min-width: $screen-lg-min) {

		.main_heading {
		//	margin-bottom: 3rem;
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-bottom: 130px;
	}
}

.portfolio_block {
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	@include flexbox();

	> li {
		width: 12.5%;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;

		img {
			opacity: 0;
			visibility: hidden;
		}
	}
}

.order_block {
	padding-top: 6rem;
	padding-bottom: 3rem;
}

.position {
	margin: 0 -1rem;
	padding-top: 1rem;
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(space-around);

	.position_item {
		width: 50%;
		padding: 0 1rem;
		margin-bottom: 2rem;
		display: block;

		input {
			display: none;
		}


		input:checked + .position_elem {
			border-color: $color-red;
		}
	}

	.position_elem {
		display: block;
		cursor: pointer;
		padding: 1rem 0.5rem;
		border: 2px solid transparent;
		@include border-radius(2rem);


		span {
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 2rem;
			display: block;
			text-align: center;
		}

	}

	@media (min-width: $screen-md-min) {

		.position_item {
			width: 33.33%;
		}
	}

	@media (min-width: $screen-lg-min) {
		margin: 0 auto;
		max-width: 880px;
		@include justify-content(space-around);

		.position_item {
			padding: 0;
			width: 240px;
			margin-bottom: 4rem;

			&:nth-child(4) {
				margin-left: 100px;
			}

			&:nth-child(5) {
				margin-right: 100px;
			}
		}

		.position_elem {
			padding: 2rem 0.5rem;


			span {
				font-size: 1.8rem;
			}
		}

	}
}

.content_404 {
	color: #fff;
	z-index: 10;
	height: 200px;
	text-align: center;
	position: relative;
	margin-bottom: 1.6rem;
	background: url("../img/404.jpg") 50% 50% no-repeat;
	background-size: cover;
	@include flexbox();

	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		display: block;
		position: absolute;
		background: rgba(0,0,0, 0.5);
	}

	.wrap__404 {
		margin: auto;
		max-width: 320px;
		z-index: 10;
	}

	h1 {
		font-weight: 600;
		font-size: 4.8rem;
		line-height: 5rem;
		margin-bottom: 1rem;
	}

	p {
		font-size: 1.2rem;
		line-height: 2rem;
		margin-bottom: 0;
	}

	.content_404_subtitle {
		font-size: 2.1rem;
		font-weight: 600;
		line-height: 2.6rem;
		font-family: $font-family-head;
	}

	.content_404_button {
		display: none;
	}

	@media (min-width: $screen-md-min) {
		height: 500px;
		padding: 40px 0;
		margin: 0;
		background: transparent;

		&:before {
			display: none;
		}

		.wrap__404 {
			width: 100%;
			margin: auto 0;
			max-width: inherit;
		}

		h1 {
			font-size: 8rem;
			line-height: 8rem;
			margin-bottom: 1.5rem;
		}

		.content_404_subtitle {
			font-size: 3.2rem;
			line-height: 4rem;
			margin-bottom: 3rem;
		}

		p {
			display: none;
		}

		.content_404_button {
			display: block;
		}
	}

	@media (min-width: $screen-lg-min) {
		height: 674px;
	}

}

.btn_back {
	z-index: 1;
	overflow: hidden;
	outline: none;
	color: #000;
	font-weight: 700;
	cursor: pointer;
	user-select: none;
	font-size: 1.3rem;
	text-align: center;
	position: relative;
	white-space: nowrap;
	line-height: 1.9rem;
	display: inline-block;
	padding: 0.9rem 3.4rem 1.2rem 3.4rem;
	font-family: $font-family-head;
	vertical-align: middle;
	background: #C9C9C9;
	@include transition(.3s);

	&:hover {
		color: #000;
		border-color: #9d9d9d;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}


@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}

.pb_0 {
	padding-bottom: 0;
}

.mb_60 {
	margin-bottom: 6rem;
}

.mb_90 {

	@media (min-width: $screen-md-min) {
		margin-bottom: 50px;
	}

	@media (min-width: $screen-lg-min) {
		margin-bottom: 90px;
	}
}

.pb30 {
	padding-bottom: 3rem;
}

