.footer {
	color: #fff;
	background: #141414;
	padding: 2rem 0 3rem 0;

	&__logo {
		width: 226px;
		display: block;
		margin-bottom: 2rem;
	}

	&__row {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			margin-bottom: 3.3rem;
		}

	}

	&__nav {
		padding: 0 0.5rem;

		&_title {
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 2.3rem;
			margin-bottom: 0.7rem;
			font-family: $font-family-head;
		}

		&_menu {
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: 1.4rem;
			line-height: 1.9rem;

			> li {

				> a {
					color: #fff;
					font-size: 1.4rem;
					line-height: 1.9rem;
					text-decoration: none;

					&:hover {
						color: $color-yellow;
						text-decoration: none;
					}
				}
			}
		}
	}

	&__subscribe {
		width: 100%;
		max-width: 280px;
		position: relative;

		&_title {
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 2.3rem;
			margin-bottom: 0.7rem;
			font-family: $font-family-head;
		}

		&_form{
			width: 100%;
			max-width: 290px;
			position: relative;
		}

		.btn {
			top: 0;
			right: -1rem;
			position: absolute;
		}

		&_text {
			max-width: 290px;
			font-size: 1.4rem;
			line-height: 1.9rem;
			padding-top: 1.4rem;
		}
	}

	&__bottom {
		width: 180px;
		margin: 0 auto;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		text-align: center;

		> li {
			font-size: 1.4rem;
			line-height: 1.9rem;
			margin-bottom: 2rem;

			&:last-child {
				margin-bottom: 0;
			}

			a {
				color: #fff;
				text-transform: none;

				&:hover {
					color: $color-yellow;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-bottom: 1rem;

		&__row {
			@include flexbox();
			@include flex-wrap(wrap);

			> li {
				width: 33.33%;

				&:nth-child(4) {
					width: 100%;
				}
			}
		}


		&__subscribe {

		}

		&__bottom {
			width: 100%;
			@include flexbox();
			@include justify-content(center);

			> li {
				margin-bottom: 0;

				&:before {
					padding: 0 1rem;
					content: '|';
				}

				&:first-child {

					&:before {
						display: none;
					}
				}

				&:last-child {
					display: none;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

		&__row {
			margin-bottom: 50px;

			> li {
				width: 25%;
				margin-bottom: 0;

				&:nth-child(4) {
					width: 290px;
					min-width: 290px;
				}
			}
		}

		&__bottom {

			> li {

				&:last-child {
					display: block;
				}
			}
		}
	}


}