.header {
	z-index: 1010;
	padding-top: 0.7rem;
	background: #141414;
	padding-bottom: 46px;
	font-family: $font-family-head;

	&__row {
		margin: 0 -1rem;
		position: relative;
		padding: 0 1rem 0.7rem 1rem;
		border-bottom: 2px solid #9E1E1E;
		@include flexbox();
		@include justify-content(flex-end);
	}

	&__toggle {
		color: #fff;
		top: 0;
		left: 0.8rem;
		padding: 0.2rem 0.5rem;
		font-size: 2.1rem;
		line-height: 2.1rem;
		position: absolute;
		display: inline-block;
	}

	&__logo {
		top: 42px;
		left: 10px;
		width: 153px;
		display: block;
		cursor: pointer;
		position: absolute;
		text-decoration: none;
	}

	&__info {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		@include flexbox();

		> li {
			margin-left: 3.3rem;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	&__phone {
		color: #fff;
		position: relative;
		text-decoration: none;
		display: inline-block;
		@include transition(.3s);

		.phone_icon {
			width: 2.6rem;
			height: 2.6rem;
			padding: 0.5rem 0;
			text-align: center;
			font-size: 1.4rem;
			line-height: 1.4rem;
			display: inline-block;
			border: 1px solid #fff;
			@include border-radius(50%);

			i {
				opacity: 0.5;
			}
		}

		.phone_text {
			display: none;
			font-weight: 700;
			font-size: 1.3rem;
			line-height: 2rem;
			padding: 0.3rem 0 0.3rem 1rem;
		}

		&:hover {
			color: $color-yellow;
			text-decoration: none;
			@include transition(.3s);

			.phone_icon {
				border-color: $color-yellow;

				i {
					opacity: 1;
				}
			}
		}
	}

	&__address {
		color: #fff;
		position: relative;
		text-decoration: none;
		display: inline-block;

		.address_icon {
			width: 2.6rem;
			height: 2.6rem;
			padding: 0.5rem 0;
			text-align: center;
			font-size: 1.4rem;
			line-height: 1.4rem;
			display: inline-block;
			border: 1px solid #fff;
			@include border-radius(50%);

			i {
				opacity: 0.5;
			}
		}

		.address_text {
			display: none;
			font-weight: 700;
			font-size: 1.3rem;
			line-height: 2rem;
			padding: 0.3rem 0 0.3rem 1rem;
		}
	}

	&__cart {
		color: #fff;
		position: relative;
		text-decoration: none;
		display: inline-block;
		@include transition(.3s);

		.cart_icon {
			width: 2.6rem;
			height: 2.6rem;
			display: inline-block;
			position: relative;

			i {
				opacity: 0.5;
			}

			&_value {
				top: 6px;
				right: 100%;
				z-index: 5;
				height: 15px;
				font-size: 1rem;
				margin-right: -6px;
				line-height: 1.1rem;
				position: absolute;
				display: inline-block;
				border: 1px solid #fff;
				padding: 0.1rem 1rem 0.1rem 0.5rem;
				@include border-radius(7px 0 0 7px);
			}

			&_inner {
				top: 0;
				left: 0;
				color: #fff;
				z-index: 10;
				width: 2.6rem;
				height: 2.6rem;
				padding: 0.5rem 0;
				font-size: 1.4rem;
				line-height: 1.4rem;
				position: absolute;
				text-align: center;
				background: #141414;
				display: inline-block;
				border: 1px solid #fff;
				@include border-radius(50%);

			}
		}

		.cart_text {
			display: none;
			font-weight: 700;
			font-size: 1.1rem;
			line-height: 2rem;
			padding: 0.3rem 0 0.3rem 1rem;
		}

		&:hover {
			color: $color-yellow;
			@include transition(.3s);

			.cart_icon {

				i {
					opacity: 1;
				}

				&_value {
					color: $color-yellow;
					border-color: $color-yellow;
				}

				&_inner {
					color: $color-yellow;
					border-color: $color-yellow;
				}
			}
		}
	}

	&__search {
		z-index: 20;
		top: 42px;
		right: 10px;
		font-size: 0;
		line-height: 0;
		width: 3rem;
		height: 3.2rem;
		position: absolute;
		display: inline-block;

		&_toggle {
			color: #fff;
			width: 3rem;
			height: 3.2rem;
			text-align: center;
			font-size: 2.2rem;
			line-height: 2.2rem;
			text-decoration: none;
			display: inline-block;
			padding-top: 0.3rem;

			&:hover {
				color: $color-yellow;
				text-decoration: none;
			}
		}

		&_form {
			top: 0;
			right: 0;
			width: 0;
			height: 3.2rem;
			overflow: hidden;
			position: absolute;
			@include transition(.3s);

			&:before {
				top: 50%;
				color: #ccc;
				z-index: 10;
				left: 1rem;
				height: 2.3rem;
				content: "\f002";
				margin-top: -1rem;
				font-size: 2rem;
				line-height: 2rem;
				position: absolute;
				font-family: FontAwesome;
			}

			input[type='text'] {
				margin: 0;
				width: 100%;
				outline: none;
				font-weight: 300;
				display: inline-block;
				color: #CCC;
				overflow: hidden;
				background: #fff;
				padding: 0.5rem 1rem 0.5rem 3.5rem;
				font-size: 1.4rem;
				line-height: 2rem;
				text-decoration: none;
				position: relative;
				border: 1px solid $color-yellow;
				@include placeholder(#CCC);
				@include border-radius(16px);

				&::-ms-clear {
					display: none;
					width: 0;
					height: 0;
				}

				&:focus {
					@include placeholder(transparent);
				}
			}
		}

		&:hover {

			.header__search_form {
				width: 24rem;
				@include transition(.3s);
			}
		}
	}

	&__nav {
		top: 0;
		left: 0;
		color: #fff;
		z-index: 999;
		width: 260px;
		height: 100vh;
		display: block;
		position: fixed;
		background: #141414;
		@include transition(.3s);

		opacity: 0;
		visibility: hidden;

		&_close {
			top: 14px;
			right: 20px;
			width: 3rem;
			height: 3rem;
			color: #fff;
			z-index: 50;
			cursor: pointer;
			padding: 0.6rem 0;
			font-size: 1.8rem;
			text-align: center;
			position: absolute;
			line-height: 1.8rem;
			text-decoration: none;
			display: inline-block;
		}

		&_wrap {
			width: 100%;
			height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			position: relative;
			padding: 55px 30px 50px 40px;
		}

		&_layout {
			top: 0;
			left: 0;
			z-index: 900;
			width: 100%;
			height: 100%;
			position: fixed;
			background: rgba(46, 46, 46, 0.3);
			@include transition(.3s);

			opacity: 0;
			visibility: hidden;
		}

		&_menu {
			padding: 0;
			list-style: none;
			margin: 0 0 2rem 0;

			> li {

				> a {
					color: #fff;
					font-weight: 600;
					padding: 0.8rem 0;
					font-size: 1.8rem;
					line-height: 2rem;
					letter-spacing: 0.1em;
					display: inline-block;
					text-decoration: none;
					text-transform: uppercase;

					&:hover {
						color: $color-yellow;
						text-decoration: none;
					}
				}
			}
		}

		&_info {
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			text-align: center;
			margin: 0 0 2rem 0;
			@include flexbox();
			@include justify-content(center);

			> li {
				padding: 0 15px;
				display: inline-block;
			}
		}

		&_social {
			margin: 0;
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;
			text-align: center;
			@include flexbox();
			@include justify-content(center);

			> li {
				padding: 0 10px;
				display: inline-block;

				> a {
					color: $color-base;
					width: 1.55rem;
					height: 1.5rem;
					background: #fff;
					padding: 0.2rem 0;
					font-size: 1.1rem;
					text-align: center;
					line-height: 1.1rem;
					display: inline-block;
					text-decoration: none;
					@include border-radius(2px);
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;

		&__row {
			margin: 0;
			padding: 0;
			position: static;
			border-bottom: none;
		}

		&__logo {
			top: -4px;
			left: 50%;
			width: 164px;
			margin-left: -82px;
		}

		&__search {
			display: none;
		}
	}


	color: #FFFFFF;


	@media (min-width: $screen-xl-min) {
		padding-top: 40px;
		padding-bottom: 1.7rem;
		border-bottom: 2px solid #9e1e1e;

		&__row {
			padding-top: 1.9rem;
			@include justify-content(space-between);
		}

		&__toggle {
			display: none;
		}

		&__logo {
			top: auto;
			left: auto;
			width: 222px;
			margin-left: 0;
			position: relative;
		}

		&__info {
			top: -32px;
			right: 10px;
			position: absolute;

			> li {
				margin-left: 54px;

				&:first-child {
					margin-left: 0;
				}
			}
		}

		&__phone {
			@include flexbox();

			.phone_text {
				display: inline-block;
			}
		}

		&__address {
			@include flexbox();

			.address_text {
				display: inline-block;
			}
		}

		&__cart {
			@include flexbox();

			.cart_text {
				display: inline-block;
			}
		}

		&__search {
			top: auto;
			right: auto;
			z-index: 1010;
			position: relative;
			display: inline-block;
			margin-top: 0.5rem;

			&:hover {

				.header__search_form {
					width: 45rem;
				}
			}
		}

		&__nav {
			top: auto;
			left: auto;
			opacity: 1;
			width: auto;
			height: auto;
			margin-left: 30px;
			position: relative;
			visibility: visible;
			background: transparent;

			&_close {
				display: none;
			}

			&_layout {
				display: none;
			}

			&_wrap {
				padding: 0.7rem 0 0 0;
				overflow-y: inherit;
			}

			&_info {
				display: none;
			}

			&_menu {
				padding: 0;
				margin: 0;
				@include flexbox();

				> li {
					margin: 0 30px;

					> a {
						font-size: 1rem;
						line-height: 1.4rem;
						padding: 0;

						span {
							overflow: hidden;
							padding: 0.5rem 0;
							position: relative;
							display: inline-block;

							&:before {
								left: 0;
								bottom: 0;
								height: 2px;
								width: 100%;
								content: '';
								position: absolute;
								background: #FFCD00;
								display: inline-block;
								-webkit-transform: translateX(-100%);
								transform: translateX(-100%);
								@include transition(.4s);
							}
						}

						&:hover {

							span {

								&:before {
									-webkit-transform: translateX(0%);
									transform: translateX(0%);
									@include transition(.4s);
								}
							}
						}
					}

					&.active {

						> a  {

							span {

								&:before {
									background: #C1272D;
									-webkit-transform: translateX(0%);
									transform: translateX(0%);
								}
							}
						}
					}
				}
			}

			&_social {
				display: none;
			}
		}
	}
}

.page {

	&.nav_open {
		height: 100%;
		overflow: hidden;

		.header__nav {
			opacity: 1;
			visibility: visible;
			@include transition(.3s);
		}

		.header__nav_layout {
			opacity: 1;
			visibility: visible;
			@include transition(.3s);
		}
	}
}