* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


body {
	color: $color-base;
	font-weight: $font-weight-light;
	font-family: $font-family-base;
	background-color: $body-bg;
	font-size: $font-size-base;
	line-height: $line-height-base;
}


.container {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding-left:  1.5rem;
	padding-right: 1.5rem;
	@include clearfix;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}

	@media (min-width: $screen-md-min) {
		width: $container-md;
		padding-left:  $gutter;
		padding-right: $gutter;
	}

	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}

	@media (min-width: $screen-xl-min) {
		width: $container-xl;
	}
}


// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	padding: 0;
	line-height: 1.2;
	font-family: $font-family-head;
}

h1, .h1 {
	font-weight: 700;
	font-size: 2.8rem;
	line-height: 3.4rem;
	margin-bottom: 2.5rem;
	font-family: $font-family-head;

	@media (min-width: $screen-md-min) {
		font-size: 3.2rem;
		line-height: 4.6rem;
	}
}

h2, .h2 {
	font-weight: 700;
	font-size: 	2rem;
	line-height: 2.4rem;
	margin-bottom: 2rem;
	font-family: $font-family-head;

	@media (min-width: $screen-md-min) {
		font-size: 2.4rem;
		line-height: 3.5rem;
	}
}

h3, .h3 {
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2.2rem;
	margin-bottom: 1.7rem;
	font-family: $font-family-head;

	@media (min-width: $screen-md-min) {
		font-size: 2.1rem;
		line-height: 3.0rem;
	}
}

h4, .h4 {
	font-size: 2rem;
	margin-bottom: 2rem;
	font-family: $font-family-head;
}

h5, .h5 {
	font-size: 1.6rem;
	margin-bottom: 1.6rem;
	font-family: $font-family-head;
}

h6, .h6 {
	font-size: 1.4rem;
	margin-bottom: 1.4rem;
	font-family: $font-family-head;
}

p {
	margin: 0 0 1.5rem 0;
}

// Links

a {
	outline: none;
	color: $link-color;
	text-decoration: $link-decoration;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;

	&:hover {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
}