.img-fluid {
	height: auto;
	display: block;
	max-width: 100%;
}

.ico-svg {
	position: relative;
	display: inline-block;
	width: auto;
	height: 100%;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.svg_bg {
	height: auto;
	display: block;
	max-width: 100%;
	position: relative;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.hide {
	opacity: 0 !important;
	display: none !important;
	visibility: hidden !important;
}

// Alignment

.text-center    { text-align: center !important; }
.text-right     { text-align: right !important; }
.text-justify   { text-align: justify !important; }
.text-nowrap    { white-space: nowrap !important; }


// Transformation

.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }



@media only screen and (max-width: #{$screen-xs-max}) {

	.hidden-xs {
		display: none;
	}
}

@media only screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {

	.hidden-sm {
		display: none;
	}
}
@media only screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) {

	.hidden-md {
		display: none;
	}
}

@media only screen and (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max}) {

	.hidden-lg {
		display: none;
	}
}
