
.breadcrumb {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 0 30px 0;

	> li {
		font-size: 1.2rem;
		line-height: 1.4rem;
		display: inline-block;

		&:after {
			content: '>';
			padding: 0 0.6rem;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}

		> a {
			color: #000;
			text-decoration: none;

			&:hover {
				color: $color-yellow;
				text-decoration: none;
			}
		}
	}
}
