
.btn {
	z-index: 1;
	overflow: hidden;
	outline: none;
	color: #2D2926;
	font-weight: 700;
	cursor: pointer;
	user-select: none;
	font-size: 1.3rem;
	text-align: center;
	position: relative;
	white-space: nowrap;
	line-height: 1.9rem;
	display: inline-block;
	padding: 0.4rem 1.5rem 0.6rem 1.5rem;
	font-family: $font-family-head;
	vertical-align: middle;
	background: transparent;
	border: 2px solid #2D2926;
	@include border-radius(1.6rem);
	@include transition(.3s);

	&:hover {
		color: #FFCD00;
		border-color: #FFCD00;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	&:active {
		background: rgba(255, 205, 0, 0.15);
	}

	i {
		top: 2px;
		margin-left: 5px;
		position: relative;
		font-size: 1.8rem;
	}
}

.btn_animate {
	padding: 0;
	@include transition(border-color 0.3s, background-color 0.3s);
	@include transition-timing-function(cubic-bezier(0.2, 1, 0.3, 1));

	&:after {
		content: attr(data-text);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		color: #FFCD00;
		padding: 0.4rem 1.5rem 0.6rem 1.5rem;
		-webkit-transform: translate3d(0, 25%, 0);
		transform: translate3d(0, 25%, 0);
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		transition: transform 0.3s, opacity 0.3s;
		-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
		transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	}

	> span {
		display: inline-block;
		padding: 0.4rem 1.5rem 0.6rem 1.5rem;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		transition: transform 0.3s, opacity 0.3s;
		-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
		transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	}

	&:hover {

		&:after {
			opacity: 1;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}

		> span {
			opacity: 0;
			-webkit-transform: translate3d(0, -25%, 0);
			transform: translate3d(0, -25%, 0);
		}
	}
}


.btn_white_border {
	color: #fff;
	border-color: #FFFFFF;

	&:hover {
		color: #FFCD00;
		border-color: #FFCD00;
	}

	&:active {
		background: rgba(255, 205, 0, 0.15);
	}
}

.btn_dark_border {
	background: #fff;
}

.btn_red_border {
	color: #9E1E1E;
	border-color: #9E1E1E;

	&:hover {
		color: #FFCD00;
		border-color: #FFCD00;
	}

	&:active {
		background: rgba(255, 205, 0, 0.15);
	}
}

.btn_red {
	color: #fff;
	background: #C1272D;
	border-color: #C1272D;

	&:hover {
		color: #FFCD00;
		border-color: #FFCD00;
	}

	&:active {
		background: rgba(255, 205, 0, 0.15);
	}
}


.btn_white {
	color: #000;
	background: #fff;
	border-color: #000;

	&:hover {
		color: #fff;
		background: #000;
		border-color: #000;

		&:after {
			color: #fff;
		}
	}

	&:active {
		background: rgba(0, 0, 0, 0.65);
	}
}

.btn_gray {
	border-color: #C4C4C4;
}

.btn_sm {
	@include border-radius(5px);
	padding: 0.3rem 1rem 0.4rem 1rem;
}


.btn_rect {
	border-width: 1px;
	@include border-radius(5px);

	&:after,
	span {
		padding: 0.6rem 1.5rem 0.8rem 1.5rem;
	}
}

.btn_gray {

}

.btn_xl {
	font-size: 2rem;
	line-height: 2.4rem;
	@include border-radius(1rem);

	&:after {
		padding: 1rem 3rem 1.4rem 3rem;
	}

	span {
		padding: 1rem 3rem 1.4rem 3rem;
	}

	@media (min-width: $screen-md-min) {
		font-size: 2.4rem;
		line-height: 3rem;

		&:after {
			padding: 2.2rem 8rem 3rem 8rem;
		}

		span {
			padding: 2.2rem 8rem 3rem 8rem;
		}
	}
}


.btn_file {
	cursor: pointer;

	input[type='file'] {
		display: none;
	}
}