.form_select {
	margin: 0;
	width: 100%;
	outline: none;
	cursor: pointer;
	overflow: hidden;
	color: #fff;
	font-weight: 700;
	position: relative;
	font-size: 1.3rem;
	line-height: 1.9rem;
	text-decoration: none;
	display: inline-block;
	background: transparent;
	font-family: $font-family-head;
	padding: 0.4rem 4rem 0.6rem 1.5rem;
	border: 2px solid #fff;
	@include border-radius(1.6rem);

	-webkit-appearance: none;
	background-image: url('../img/select_arrow.png');
	background-position: 100% 50%;
	background-repeat: no-repeat;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none!important;

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&::-ms-expand {
		display: none;
	}

	option {
		color: #000;

		&:focus {
			color: #fff;
			background: #2D2926;
		}
	}
}

.select_control {
	margin: 0;
	width: 100%;
	outline: none;
	cursor: pointer;
	overflow: hidden;
	color: #2D2926;
	font-weight: 700;
	position: relative;
	font-size: 1.3rem;
	line-height: 1.9rem;
	text-decoration: none;
	display: inline-block;
	background: transparent;
	font-family: $font-family-head;
	padding: 0.4rem 2.2rem 0.6rem 1rem;
	border: 1px solid #C4C4C4;
	@include border-radius(0.3rem);

	-webkit-appearance: none;
	background-image: url('../img/icon__down.png');
	background-position: 100% 50%;
	background-repeat: no-repeat;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none!important;

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&::-ms-expand {
		display: none;
	}

	option {
		color: #000;

		&:focus {
			color: #fff;
			background: #2D2926;
		}
	}
}

.select_white {
	margin: 0;
	width: 100%;
	outline: none;
	cursor: pointer;
	overflow: hidden;
	color: #2D2926;
	font-weight: 700;
	position: relative;
	font-size: 1.3rem;
	line-height: 1.9rem;
	text-decoration: none;
	display: inline-block;
	background: transparent;
	font-family: $font-family-head;
	padding: 0.4rem 4rem 0.6rem 1.5rem;
	border: 2px solid #2D2926;
	@include border-radius(1.6rem);

	-webkit-appearance: none;
	background-image: url('../img/select_arrow_black.png');
	background-position: 100% 50%;
	background-repeat: no-repeat;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	-ms-appearance: none;
	appearance: none!important;

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&::-ms-expand {
		display: none;
	}

	option {
		color: #000;

		&:focus {
			color: #fff;
			background: #2D2926;
		}
	}
}

.form_control_sm {
	margin: 0;
	width: 100%;
	outline: none;
	font-weight: 300;
	display: inline-block;
	color: #666;
	overflow: hidden;
	background: #fff;
	padding: 0.3rem 1rem 0.4rem 1rem;
	font-size: 1.4rem;
	line-height: 2.1rem;
	text-decoration: none;
	position: relative;
	border: 1px solid #fff;
	@include placeholder(#666);
	@include border-radius(3px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}
}

.selectric-wrapper {
	width: 100%;
	display: block;

	&.selectric-open {

		.selectric {
			border-bottom: transparent;
			@include border-radius(1.6rem 1.6rem 0 0);

			&:before {
				bottom: 0;
				height: 2px;
				content: '';
				left: 1.2rem;
				right: 1rem;
				background: #fff;
				position: absolute;
			}

			.button {

				&:before {
					margin-top: -0.8rem;
					font-size: 1.4rem;
					line-height: 1.4rem;
					content: "\f002";
				}
			}
		}
	}

	.selectric {
		margin: 0;
		width: 100%;
		outline: none;
		cursor: pointer;
		overflow: hidden;
		color: #fff;
		height: 33px;
		font-weight: 700;
		position: relative;
		font-size: 1.3rem;
		line-height: 1.9rem;
		text-decoration: none;
		display: block;
		background: transparent;
		font-family: $font-family-head;
		padding: 0.4rem 4rem 0.6rem 1.5rem;
		border: 2px solid #fff;
		@include border-radius(1.6rem);

		.label {
			display: block;
			width: 100%;
			white-space: nowrap;
			max-width: 100%;
			overflow: hidden;
			margin: 0;
		}

		.button {
			top: 0;
			right: 0;
			color: #fff;
			width: 2.3rem;
			height: 100%;
			font-size: 0;
			line-height: 0;
			position: absolute;
			text-align: left;

			&:before {
				top: 50%;
				font-weight: 400;
				margin-top: -1rem;
				height: 2rem;
				line-height: 2rem;
				font-size: 2rem;
				content: "\f107";
				position: absolute;
				display: inline-block;
				font-family: FontAwesome;
			}
		}

		&:hover {

			.button {
			}
		}
	}

	.selectric-items {
		overflow: hidden;
		background: #141414;
		max-height: 200px;
		border: 2px solid #fff;
		border-top: none;
		@include border-radius(0 0 1.6rem 1.6rem);

		.selectric-scroll {
			max-height: 200px;

			ul {
				padding: 0.4rem 0;
				margin: 0;
				font-weight: 700;
				font-size: 1.3rem;
				line-height: 2rem;
				list-style: none;
				font-family: $font-family-head;

				li {
					color: #fff;
					cursor: pointer;
					padding: 0.2rem 1.5rem;

					&:hover {
						color: #fff;
						background: $color-yellow;
					}

					&.selected {
						background: #fff;
						color: #141414;
					}
				}
			}
		}
	}

	&.selectric-select_white {

		.selectric {
			color: #1C1C1C;
			background: #fff;
			border-color: #1C1C1C;

			.button {
				color: #1C1C1C;

			}
		}

		.selectric-items {
			background: #fff;
			border-color: #1C1C1C;

			.selectric-scroll {

				ul {

					li {
						color: #1C1C1C;

						&:hover {
							color: #fff;
							background: $color-yellow;
						}

						&.selected {
							background: #fff;
							color: #141414;
						}
					}
				}
			}
		}
	}
}

.form_control {
	margin: 0;
	width: 100%;
	border: none;
	outline: none;
	height: 3.5rem;
	color: #fff;
	text-align: center;
	font-weight: 700;
	overflow: hidden;
	font-size: 1.4rem;
	line-height: 2rem;
	position: relative;
	display: inline-block;
	text-decoration: none;
	background: transparent;
	padding: 1rem 0 0.5rem 0;
	border-bottom: 2px solid #fff;
	@include placeholder(#f5f5f5);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}
}

.form_control_base {
	margin: 0;
	width: 100%;
	border: none;
	outline: none;
	height: 3.5rem;
	color: #838383;
	font-weight: 400;
	overflow: hidden;
	font-size: 1.4rem;
	line-height: 2rem;
	position: relative;
	display: inline-block;
	text-decoration: none;
	background: transparent;
	padding: 1rem 0 0.5rem 0;
	border-bottom: 2px solid #1C1C1C;
	@include placeholder(#838383);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}
}

textarea.form_control_base {
	padding: 1rem;
	resize: none;
	height: auto;
	border: 1px solid #000;
	@include border-radius(1rem);
}


.form_placeholder {
	top: 0;
	left: 0;
	display: none;
	color: #f5f5f5;
	font-size: 0.8rem;
	line-height: 1rem;
	position: absolute;
}

.form_group {
	position: relative;
	margin-bottom: 2rem;

	&.valid {

		.form_control {
			border-bottom-color: #FFCD00;
		}
	}

	&.invalid {

		.form_control {
			border-bottom-color: #C1272D;
		}
	}
}

.form_radio {
	font-size:0;
	line-height: 0;
	display: inline-block;

	input {
		display: none;
	}

	span {
		color: #fff;
		font-weight: 700;
		font-size: 1.4rem;
		line-height: 2rem;
		position: relative;
		padding-left: 2.8rem;
		display: inline-block;

		&:before {
			top: 0;
			left: 0;
			content: '';
			width: 2rem;
			height: 2rem;
			position: absolute;
			display: inline-block;
			border: 2px solid #fff;
			@include border-radius(50%);
		}


		&:after {
			top: 0.5rem;
			left: 0.5rem;
			content: '';
			width: 1rem;
			height: 1rem;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			background: #9E1E1E;
			display: inline-block;
			@include border-radius(50%);
		}
	}

	input:checked + span {

		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}

.radiobutton {
	font-size:0;
	line-height: 0;
	display: inline-block;

	input {
		display: none;
	}

	.radiobutton_text {
		color: #000;
		cursor: pointer;
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 2rem;
		position: relative;
		padding-left: 2.8rem;
		display: inline-block;

		&:before {
			top: 0;
			left: 0;
			content: '';
			width: 2rem;
			height: 2rem;
			position: absolute;
			display: inline-block;
			border: 2px solid #000;
			@include border-radius(50%);
		}


		&:after {
			top: 0.5rem;
			left: 0.5rem;
			content: '';
			width: 1rem;
			height: 1rem;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			background: #9E1E1E;
			display: inline-block;
			@include border-radius(50%);
		}

		> span {
			text-decoration: underline;
		}

		&:hover {

			> span {
				text-decoration: none;
			}
		}
	}

	input:checked + .radiobutton_text {

		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}


.checkbox_group {

	@media (min-width: $screen-md-min) {
		margin: 0 -1.2rem;
		@include flexbox();

		.checkbox_col {
			padding: 0 1.2rem;
		}
	}
}

.form_submit {
	padding-top: 2rem;
	margin: 0 -1.5rem;
	@include clearfix();

	.form_submit_captcha {
		float: left;
		padding: 0 1.5rem;
		max-width: 320px;
	}

	.form_submit_btn {
		float: left;
		padding: 1.7rem 1.5rem;
	}
}

// ------

.form_title {
	color: #000;
	font-weight: 700;
	font-size: 2.1rem;
	line-height: 2.4rem;
	text-align: center;
	margin: 0 -1rem 2rem -1rem;
	font-family: $font-family-head;
}

.form_inline {
	max-width: 625px;
	margin: 0 auto 3rem auto;

	@media (min-width: $screen-md-min) {

		.btn {
			width: 100%;
		}
	}
}

.center_form {
	max-width: 460px;
	margin: 0 auto 3rem auto;
	padding: 3rem 2rem 2rem 2rem;
	background: #1C1C1C;
	border: 3px solid #9E1E1E;
	@include border-radius(20px);

	.form_title {
		color: #fff;
	}

	&_text {
		color: #fff;
		opacity: 0.5;
		font-weight: 300;
		font-size: 1.2rem;
		text-align: center;
		line-height: 1.6rem;
	}

	@media (min-width: $screen-sm-min) {
		padding: 3rem 6.4rem 2rem 6.4rem;
	}
}

.form_num {
	width: 8rem;
	height: 2rem;
	font-size: 0;
	line-height: 0;
	padding: 0 2rem;
	position: relative;
	display: inline-block;
	font-family: $font-family-head;

	input[type='text'] {
		margin: 0;
		color: #000;
		width: 100%;
		height: 1.8rem;
		border: none;
		outline: none;
		font-weight: 700;
		overflow: hidden;
		font-size: 1.4rem;
		line-height: 1.6rem;
		position: relative;
		text-align: center;
		display: inline-block;
		text-decoration: none;
		padding: 0.1rem 0.5rem;
		background: transparent;
		font-family: $font-family-head;

		&::-ms-clear {
			display: none;
			width: 0;

		}
	}

	span {
		top: 0;
		color: #fff;
		width: 2rem;
		font-weight: 700;
		height: 1.8rem;
		cursor: pointer;
		padding: 0.4rem 0;
		font-size: 1rem;
		text-align: center;
		position: absolute;
		line-height: 1rem;
		display: inline-block;
		background: #1C1C1C;
		@include border-radius(3px);

		&.form_num_down {
			left: 0;
		}

		&.form_num_up {
			right: 0;
		}
	}

	@media (min-width: $screen-xl-min) {
		height: 2.4rem;

		input[type='text']  {
			font-size: 1.6rem;
			line-height: 2.2rem;
			height: 2.4rem;
		}

		span {
			top: 4px;
		}
	}
}