
.pagination_mobile {
	text-align: center;
	padding-top: 1rem;

	@media (min-width: $screen-md-min) {
		display: none;
	}
}

.pagination {
	display: none;
	padding-top: 3rem;
	@include clearfix();

	&__nav {
		float: left;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		margin: 0 2.5rem 0 0;
		@include flexbox();

		> li {
			padding: 0 0.5rem;
			display: inline-block;

			&:first-child,
			&:last-child {

				> a {
					color: #fff;
					font-weight: 400;
					font-size: 2.1rem;
					line-height: 2.1rem;
					background: #C1272D;

					&:hover {
						color: #000;
						background: #fff;
					}
				}
			}

			> a {
				color: #000;
				width: 3.5rem;
				height: 3.5rem;
				font-weight: 700;
				padding: 0.5rem 0;
				font-size: 1.8rem;
				text-align: center;
				line-height: 2.1rem;
				display: inline-block;
				border: 1px solid #C4C4C4;
				font-family: $font-family-head;
				@include border-radius(0.5rem);

				&:hover {
					color: #9E1E1E;
					border-color: #9E1E1E;
				}
			}

			> span {
				color: #000;
				width: 3.5rem;
				height: 3.5rem;
				font-weight: 700;
				padding: 0.3rem 0;
				font-size: 1.8rem;
				text-align: center;
				line-height: 2.1rem;
				background: #C4C4C4;
				display: inline-block;
				border: 1px solid #C4C4C4;
				font-family: $font-family-head;
				@include border-radius(0.5rem);
			}

			b {
				width: 3.5rem;
				height: 3.5rem;
				font-weight: 700;
				padding: 1rem 0 0.4rem 0;
				font-size: 1.8rem;
				text-align: center;
				line-height: 1.9rem;
				display: inline-block;
			}
		}
	}

	&__text {
		float: left;
		color: #000;
		display: none;
		font-weight: 400;
		padding: 0.6rem 0;
		font-size: 1.4rem;
		line-height: 2.1rem;

		strong {
			font-weight: 600;
		}
	}

	&__view {
		float: right;
		@include flexbox();

		&_label {
			color: #000;
			font-weight: 400;
			padding: 0.6rem 0.8rem 0.6rem 0;
			font-size: 1.4rem;
			line-height: 2.1rem;
			display: inline-block;
		}

		&_select {
			width: 62px;
		}
	}

	@media (min-width: $screen-md-min) {
		display: block;
	}

	@media (min-width: $screen-lg-min) {

		&__text {
			display: block;
		}
	}

}
