.table {
	width: 100%;
	margin-bottom: 2rem;
	border-collapse: collapse;

	th {
		color: #fff;
		font-weight: 400;
		text-align: left;
		font-size: 1.3rem;
		line-height: 1.7rem;
		background: #2D2926;
		padding: 0.7rem 0.8rem;
	}


	td {
		color: #333;
		font-size: 1.4rem;
		line-height: 2rem;
		padding: 1.3rem 0.8rem;
	}

	tr {
		background: #fff;

		&:nth-child(odd) {
			background: #EFEFEF;
		}
	}
}


@media (max-width: 600px) {

	.table-responsive {
		width: 100%;
		overflow-y: hidden;
		overflow-x: scroll;
		margin-bottom: 25px;
		border: 1px solid #ddd;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		.table {
			margin-bottom: 0;
		}
	}
}
